{include file="public/header"} {include file="public/sidebar"}
<script>
	$(function(){

		if({$status['status']} == 0){
			layui.use('layer', function() {
				layer.open({type:0,content:'等待审核,审核加群：783816869',btn:false})
			})
			return false
		}else if({$status['status']} == 1){
			layui.use('layer', function() {
				layer.open({type:0,content:'您已通过审核',btn:false})
			})
			return false
		}else if({$status['status']} == 2){
			layui.use('layer', function() {
				layer.open({type:0,content:'您审核未通过，请重新填写申请',btn:false})
			})
			return false
		}

	})
</script>
<link rel="stylesheet" type="text/css" href="__INDEX__css/cropper.min.css">
<script type="text/javascript" src="__INDEX__js/cropper.min.js"></script>

<body>
	<!-- 引入头部 -->
	<div class="main miva-join-page">
		<!-- 陪玩入驻服务 -->
		<div class="miva-join-us">陪玩入驻服务(<span>*请务必完善个人资料</span>)</div>
		<!-- 基本资料 -->
		<div class="miva-join-title">基本资料</div>
		<div class="miva-box miva-basic-box">
			<style media="screen">
				.miva-input {
					padding: 0 10px;
				}

				.service-act {
					border-radius: 3px;
					background: #FBC94C;
					color: #fff;
					padding: 5px 15px;
					margin: 5px !important;
				}
				.miva-join-page .miva-basic-table .up-title {
					width: 10%
				}
				.up-input {
					width: 24%
				}

				.text{
					text-align:left;
				}
				.style-picture{
					margin-top:45px;
				}
			</style>
			<!-- *************************************************************************************** -->
			<table class="miva-basic-table">
				<tr>
				<span style="color:red">（*注：选择线下陪玩师，需上传本人头像）</span>
					
													
					<td class="up-title">昵称:</td>
						<td class="up-input" style="width:100px"><input type="text" name="nickname" value="{$user_data['nickname']}"  class="miva-input " />
					</td>

				<td class="up-pic" rowspan="4">

						<img style="border-radius:50%;box-shadow: 0 0 3px #aaa; margin:25px" src="{$user_data.head_img}" alt=""  id="user-pic-img">
						<label for="user-pic">
							<div class="up-pic-btn" style="margin-left:45px">可选择上传头像</div>
							<input type="file" id="user-pic" style="display:none" >
						</label>
					</td>
				
				<tr>		
					<td class="up-title">QQ:</td>
					<td class="up-input"><input class="miva-input " type="text" placeholder="输入您的常企鹅号"  name="penguin" value="{$user_data.penguin}" ></td>
				</tr>

				<tr>
					<td class="up-title">性别:</td>
					<td class="up-input" class="up-sex-box">
						{switch name="$user_data.sex"}
							{case value="1"}
								<span class="radio active-radio"  sex="1">男</span>
								<span class="radio " sex="2">女</span>
							{/case}
							{case value="2"}
								<span class="radio "  sex="1">男</span>
								<span class="radio active-radio" sex="2">女</span>
							{/case}
							{default /}
							<span  style="color:red">只有一次选择性别的机会，请慎重</span>
							<span class="radio"  sex="1">男</span>
							<span class="radio" sex="2">女</span>
						{/switch}
					</td>
				</tr>
			</table>
			<hr/>
			<table class="miva-info-detail" border="0" cellspacing="" cellpadding="">

				<tr>
					<td class="up-title">真实姓名:</td>
					<td><input class="miva-input" type="text" name="real_name" value="" /></td>
				</tr>
				<tr>
					<td class="up-title">出生年月:</td>
					<td><input class="miva-input" style="text-align:center" type="text" name="birthday" id="data-check" value="" placeholder="----/--/--" /></td>
				</tr>
				<tr>
					<td class="up-title">个性签名:</td>
					<td><input class="miva-input" type="text" name="table" id="" value="" /></td>
				</tr>
				<tr>
					<td class="up-title">所在省份:</td>
					<td>
						<div class="miva-game-box layui-form">
							<div class="miva-select layui-form-item"><select class="province" lay-filter='province' lay-verify='province' name="province"><option value="0"></option>{foreach name="province_data" item="v"}<option value="{$v.code}">{$v.name}</option>{/foreach}</select></div>
						</div>
					</td>
				</tr>

				<tr>
					<td class="up-title">所在城市:</td>
					<td>
						<div class="miva-game-box layui-form">
							<div class="miva-select layui-form-item"><select class="city" lay-filter='city' id="city" lay-verify='' name="city"><option value="">请选择</option></select></div>
						</div>
					</td>
				</tr>
				<tr>
					<td class="up-bottom">居住地址:</td>
					<td colspan="2"><input class="miva-input path-input" type="text" placeholder="请输入您的常用地址：省/市/县/街道" name="address" >
						<div class="tip">备注:精确的位置有助于您更好的接受线下约玩单</div>
					</td>
				</tr>
				<tr>
					<td class="up-title">身高:</td>
					<td><input class="miva-input" type="text" name="height" id="" value="" placeholder="" /></td>
				</tr>
				<tr>
					<td class="up-title">体重:</td>
					<td><input class="miva-input" type="text" name="weight" id="" value="" placeholder=""/></td>
				</tr>
				<tr>
					<td class="up-title">职业:</td>
					<td><input class="miva-input" type="text" name="duty" id="" value="" /></td>
				</tr>
				<tr>
					<td class="up-title">兴趣爱好:</td>
					<td><input class="miva-input" type="text" name="hobby" id="" value="" /></td>
				</tr>
				<tr>
					<td class="up-title">性感部位:</td>
					<td id="buwei"><span class="radio active-radio sexy">腿</span><span class="radio">眼睛</span><span class="radio">鼻子</span><span class="radio">嘴巴</span><span class="radio">胸部</span><span class="radio">腰部</span><span class="radio">臀部</span><span class="radio">其他</span></td>
				</tr>
				<tr>
					<td class="up-bottom">是否开通线下陪玩:</td>
					<td id="xian" colspan="2">
						<!--<span class="miva-btn miva-btn-act" acc_type="1">线上</span>-->
						
						<span class="miva-btn" acc_type="2" style="position:initial"  data-item="xiaxian" >开通</span>
						<!--<span class="tip">备注:线上线下可同时选择</span>--></td>
				</tr>
			</table>
			<div class="xiaxian" style="display:none">
				{include file="Conpanion/real"}
			</div>
			<script type="text/javascript">
				$(function(){
					var status = true
					$('[data-item="xiaxian"]').click(function(){
						status = !status
						if(!status){
							
							$('.xiaxian').show()
							console.log(status)
						}else{
							$('.xiaxian').hide()
							console.log(status)
						} 
						 //hide

					})
				})
			</script>
			<!-- ****************************************************************** -->
		</div>
		<div class="miva-join-title">开通服务项目</div>
		<div class="miva-box miva-game-box layui-form">
			<div class="miva-select layui-form-item">
				<select class="project" lay-filter='item-check' name="project" id="project">
					<option>请选择服务项目</option> 
					<option value="1">游戏项目</option>
					<option value="2">娱乐项目</option>
				</select>
			</div>
			<!-- 二级类目选择 -->
			<div data-item="game1" class="miva-selected-box"></div>
			<!-- 三级类目选择 -->

			<div data-item="game2" class="miva-selected-box" data-item="grade"></div>
		</div>
		<div class="miva-join-title">认证资料照</div>
		<div class="miva-box miva-data-box">
			<label for="duanwei"><img style="border:none;" class="miva-up-data-pic" src="" alt="">
				<div class="up-data-tip"><span  class="text">点击上传您的游戏段位(等级)截图,<br>并填写游戏相关说明补充<br>(包含游戏ID)</span></div><br>
				<div class="miva-btn mia-up-btn" style="display:none;">点击上传</div>
			</label>
			<input style="display:none" type="file" id="duanwei">

			<span class="miva-li">示例:</span>
			<img style="border:none;" src="__IMG__example.png" alt="" class="style-picture"></div>
		<div class="miva-join-title">自我介绍</div>
		<div class="miva-box miva-info-box"><textarea name="explain" class="txt-box" placeholder="可以写自己喜欢的游戏,喜欢的玩法和打法......"></textarea></div>
		

		<div class="miva-join-title">语音介绍</div>
		<div class="miva-box miva-audio-box">
			<div class="audio-box-f">
				<div class="audio-box">
					<div class="audio-btn" >
						<i class="layui-icon layui-icon-voice"></i>
						<input  type="file"   style="opacity:0;width:80px;"   name="video" id="newMiva" >
						<span  class="video">点击上传</span>
					</div>
				</div>

			<!--<audio  id="audio" src="" controls ></audio>-->

			</div>
			<span class="tip">上传录音可供老板试听,请自行上传录音 格式为:MP3 大小:2MB
				<span>支持格式:MP3</span>
			</span>
		</div>
		
		<div class="check-box"><input id="check" type="checkbox"> <label for="check">我已阅读并同意<a href="{:url('Conpanion/agreement')}" target="__blnk"><<陪玩申请入驻协议>></a></label></div>
		<button style="color:#FFF; position:relative; top: 10px ;right:0" disabled=true class="miva-btn xiaoshou submit">提交入驻申请</button>
	</div>
	<!-- 引入侧边栏 -->
	<!-- 引入页脚 -->
	{include file="public/footer"}
	
	<script>
var img_data = '';
var type;
var cityVal = '';
var isSubmitOff = false;
var option
var sex
	// 图片预览
	$('#duanwei').on('change', function() {
		var _this = this;
		var files = $(this);
		var img = $('.miva-up-data-pic');
		var fileBuffer;
		var reader = new FileReader();
		var alertHTML = '<img id="newMiva" src=""/>';
		var project_grade;
		reader.readAsDataURL(files.prop('files')[0]);
		reader.onload = function(e) {
			// 获取file里的内容
			fileBuffer = e.target.result;

			// layer.open({
			// 	type: 1,
			// 	title: false,
			// 	closeBtn: 0,
			// 	content: alertHTML,
			// 	scrollbar: false,
			// 	btn: ['确认', '取消'],
			// 	area: ['100%', '100%'],
			// 	success: function(layero, index) {
			// 		var imgbox = layero.find("#newMiva");
			// 		var miva;
			// 		imgbox.attr('src', fileBuffer);
		img_data = fileBuffer
		img.attr('src', fileBuffer);
					// 		if (_this.id == 'user-pic')
					// 			miva = 1 / 1;
					// 		else if (_this.id == 'bg-pic')
					// 			miva = 9 / 16;

					// 		imgbox.cropper({
					// 			aspectRatio: miva,
					// 			dragMode: 'move', // 设置为  ‘move’: 只可以移动模式
					// 			dragCrop: false, // 设置为禁止移除当前的剪裁框，并通过拖动来新建一个剪裁框区域。
					// 			toggleDragModeOnDblclick: false, // 禁止双击切换模式
					// 		});

					// 	},
					// 	yes: function(index, layero) {
					// 		var imgbox = layero.find("#newMiva");
					// 		var cas = imgbox.cropper('getCroppedCanvas');
					// 		var base64url = cas.toDataURL('image/jpeg');
					// 		img_data = base64url
					// 		img.attr('src', base64url);
					// 		layer.closeAll();
					// 	},
					// 	btn2: function(index, layero) {
					// 		layer.closeAll();
					// 	}
					// });
		};
		// 重置input[type=file];
		files.val('');
	});

	//头像
	var files = $('#user-pic');
		// var btn = $('[data-item=upbtn]');

		var reader = new FileReader();
		var fileBuffer;
		var zoomNum = 1;
		var base64url;
		var imgbox;
		var alertHTML = '<div style="width:70%;height:100%"><img id="newMiva" src=""/></div>';
		alertHTML += '<div class="yulan"><div><img alt="小" src="__IMG__default.jpg" alt="" /></div><div><img alt="中" src="__IMG__default.jpg" alt="" /></div><div><img alt="大" src="__IMG__default.jpg" alt="" /></div></div>'
		// 图片预览
		files.on('change', function() {
			reader.readAsDataURL(files.prop('files')[0]);
			reader.onload = function(e) {
				// 获取file里的内容
				fileBuffer = e.target.result;
				layui.use('layer', function() {
					layer.open({
						type: 1,
						title: false,
						content: alertHTML,
						scrollbar: false,
						resize: false,
						zIndex: 7489436491,
						btn: ['确认', '放大', '缩小', '预览'],
						area: ['1000px', '600px'],
						success: function(layero, index) {
							imgbox = layero.find("#newMiva");
							imgbox.attr('src', fileBuffer);
							imgbox.cropper({
								aspectRatio: 1 / 1,
								dragMode: 'move', // 设置为  ‘move’: 只可以移动模式
								dragCrop: false, // 设置为禁止移除当前的剪裁框，并通过拖动来新建一个剪裁框区域。
								toggleDragModeOnDblclick: false, // 禁止双击切换模式
								background: false,
								// movable: false,
							});
						},
						yes: function(index, layero) {
							var imgbox = layero.find("#newMiva");
							var cas = imgbox.cropper('getCroppedCanvas');
							base64url = cas.toDataURL('image/jpeg');

							 option = base64url; //上传图片的内容
							$('#user-pic-img').attr('src', option);

/*
							
							$.post("{:url('User/head_img')}",{option:option},function(data){
									if(data.code == 0){
										layui.use('layer',function(){
										layer.msg(data.msg)})
									}else if(data.code == 1){
										layui.use('layer',function(){
										layer.msg(data.msg)})
									}else if(data.code == 2){
										layui.use('layer',function(){
										layer.msg(data.msg)})
									}else if(data.code == 3){
										layui.use('layer',function(){
										layer.msg(data.msg)})
									}else{
										layui.use('layer',function(){
										layer.msg('未知错误')})
									}
							
							},'json')
*/
							layer.closeAll();
						},
						btn2: function(index, layero) {
							var imgbox = layero.find("#newMiva");
							zoomNum -= 0.1;
							imgbox.cropper('zoom', 0.1);
							console.log(zoomNum)
							return false;
						},
						btn3: function(index, layero) {
							var imgbox = layero.find("#newMiva");
							zoomNum += 0.1;
							imgbox.cropper('zoom', -0.1);
							console.log(zoomNum)
							return false;
						},
						btn4: function(index, layero) {
							var cas = imgbox.cropper('getCroppedCanvas');
							base64url = cas.toDataURL('image/jpeg');
							console.log($(layero.find('.yulan')))
							$(layero.find('.yulan')).find(layero.find('img')).attr('src', base64url)
							return false;
						}
					})
				})

			};
			// 重置input[type=file];
			files.val('');
		});



	//手持身份证照 base64   zhengData
	var zheng = $('#zheng');
			var fan = $('#fan');
			var reader = new FileReader();
			var zhengData = '';
			var fanData = '';
			$('#miva-input').on('change', 'input', function() {
				var _this = this;
				reader.readAsDataURL($(this).prop('files')[0]);
				reader.onload = function(e) {
					var fileBuffer = e.target.result;

					if (_this.id == 'input1') {
						zhengData = fileBuffer;
						zheng.attr('src', fileBuffer);
					}
					else if (_this.id == 'input2') {
						fanData = fileBuffer;
						fan.attr('src', fileBuffer);
					}
					else 
						alert('error');
				}
			});

		/************************************************/
		layui.use(['form', 'laydate'], function() {
			var form = layui.form;
			var laydate = layui.laydate;
			

			laydate.render({
					elem: '#data-check' //指定元素
				});; // 使用layui日期选择器
			
			//服务项目Ajax
			form.on('select(item-check)', function(res) {

			type = res.value

				$.post("{:url('Conpanion/project')}", {
					type: res.value
				}, function(res){

					var str = '';
					for (a of res) {
						str += "<span data-item=mivaservice data-floor=floor1 attr_id=" + a['id'] + ">" + a['name'] + "</span>"; // 第一层渲染 
					}
					$('[data-item="game1"]').html(str);

						if (isMivaService) {
							$('.miva-selected-box').on('click', '[data-item=mivaservice]', function() { // 选择服务时的激活样式
								$(this).addClass('service-act').siblings().removeClass('service-act');
								console.log($(this).attr('grade_id'))
								if($(this).attr('grade_id')){
									 project_grade = $(this).attr('grade_id')
								}
							// if ($(this).prop('class').indexOf('service-act') == -1) { // 多选
							// 	$(this).addClass('service-act');
							// } else {
							// 	$(this).removeClass('service-act');
							// }
							isMivaService = false; 
						});
					};

				}, 'json')
			});

			//服务项目等级Ajax
			$('.miva-selected-box').on('click', '[data-floor=floor1]', function(){
				// type  1:游戏项目hn_game_grade  2：娱乐 hn_game_grade
				var game_id = $(this).attr('attr_id')
				console.log(type)
				console.log(game_id)
				//更换图片
				/*
				if(type == 2){
					if(game_id == 2){
						$('.style-picture').attr('src','__IMG__gedan.jpg')
						return 
					}

					$('.style-picture').attr('src','__IMG__shengjian.jpg')
				}else{
					$('.style-picture').attr('src','__IMG__example.png')
				}
*/
				//更换文本内容与图片
				if(type == 1){
					if(game_id == 4){
						//绝地求生
						$('.text').html('审核要求：请上传您清晰的段位截图（包含游戏ID）<br>落地成盒：1800分以下<br>稳健发育：1801至2400之间<br>吃鸡狂魔：2400+')
						$('.style-picture').attr('src','__IMG__pubg.jpg')
					}else if(game_id == 8){
						//刺激战场
						$('.text').html('审核要求：请上传您清晰的段位截图（包含游戏ID）<br>萌新：热血青铜、不屈白银、英勇黄金<br>中级：坚韧铂金、不朽星钻、荣耀皇冠<br>大神：超级王牌、无敌战神')
						$('.style-picture').attr('src','__IMG__cjzc.jpg')
					}else if(game_id == 11){
						//英雄联盟
						$('.text').html('审核要求：请上传您清晰的段位截图（包含游戏ID）<br>荣耀黄金、华贵铂金、璀璨钻石、<br>超凡大师、最强王者')
						$('.style-picture').attr('src','__IMG__lol.jpg')
					}else if(game_id == 17){
						//王者荣耀
						$('.text').html('审核要求：请上传您清晰的段位截图（包含游戏ID）<br>荣耀黄金、尊贵铂金、永恒钻石、<br>至尊星耀、最强王者')
						$('.style-picture').attr('src','__IMG__wzry.jpg')
					}else if(game_id == 18){
						//全军出击
						$('.text').html('审核要求：请上传您清晰的段位截图（包含游戏ID）<br>萌新：坚韧青铜、冲锋白银<br>中级：凯旋黄金、灭世铂金<br>大神：永恒钻石、最强王者')
						$('.style-picture').attr('src','__IMG__qjcj.jpg')
					}else if(game_id == 19){
						//荒野行动
						$('.text').html('审核要求：请上传您清晰的段位截图（包含游戏ID）<br>萌新：顽强列兵、精英军士<br>中级：英勇少尉、坚毅中校<br>大神：荣耀少将、光辉上将')
						$('.style-picture').attr('src','__IMG__hyxd.jpg')
					}else if(game_id == 20){
						//第五人格
						$('.text').html('审核要求：请上传您清晰的段位截图（包含游戏ID）<br>萌新：一阶、二阶<br>中级：三阶、四阶<br>大神：五阶、六阶')
						$('.style-picture').attr('src','__IMG__dwrg.jpg')
					}else if(game_id == 23){
						//穿越火线
						$('.text').html('审核要求：请上传您清晰的段位截图（包含游戏ID）<br>萌新：新锐、精英、专家<br>中级：大师、宗师<br>大神：枪王、枪王之王')
						$('.style-picture').attr('src','__IMG__cf.jpg')
					}else if(game_id == 25){
						//无限法则
						$('.text').html('审核要求：请上传您清晰的段位截图（包含游戏ID）<br>专业')
						$('.style-picture').attr('src','__IMG__wxfz.jpg')
					}
				}else if(type == 2){
					if(game_id == 1){
						//哄睡觉
						$('.text').html('请上传平台审核的真人声鉴卡，等待审核，<br>如果没有声鉴卡请先从平台获取声鉴卡')
						$('.style-picture').attr('src','__IMG__shengjian.jpg')
					}else if(game_id == 2){
						//唱歌
						$('.text').html('请上传真人正面清晰照作为该服务封面图，等待考核<br>请上传你的歌单')
						$('.style-picture').attr('src','__IMG__gedan.jpg')
					}else if(game_id == 3){
						//聊天
						$('.text').html('请上传您的【声鉴卡】一张，<br>如没有【声鉴卡】，<a href="https://www.huoniaopeiwan.com/index/acc/index.html">请点击获取。获取声鉴卡</a>')
						$('.style-picture').attr('src','__IMG__shengjian.jpg')
					}else if(game_id == 5){
						//声鉴师
						$('.text').html('普通玩家/陪玩师  不具备申请声鉴师的能力，请与后台工作人员联系')
					}else if(game_id == 6){
						//叫醒
						$('.text').html('请上传您的【声鉴卡】一张，<br>如没有【声鉴卡】，<a href="https://www.huoniaopeiwan.com/index/acc/index.html">请点击获取。获取声鉴卡</a>')
						$('.style-picture').attr('src','__IMG__shengjian.jpg')
					}else{
						$('.text').html('点击上传您的游戏段位(等级)截图,<br>并填写游戏相关说明补充<br>(包含游戏ID)')
					}
				}
				
				$.post("{:url('Conpanion/project_grade')}",{type:type,game_id:game_id},function(res){
					var str = '';
					for (a of res) {
						str += "<span data-item=mivaservice grade_id=" + a['id'] + " >" + a['type_name'] + "</span>"; // 第二层渲染
					}
					$('[data-item="game2"]').html(str);
					project_grade = undefined;

				},'json')


			})

			form.on('select(province)', function(result) { // 请选择省份
				$('#city').html('<option value="">请选择</option>');

				$.post("{:url('Conpanion/city_ajax')}", {
					province: result.value
				}, function(res) {
					var html = '';
					for (var i = 0; i < res.length; i++) {
						html += '<option value="' + res[i].code + '">' + res[i].name + '</option>';
					};
					$("#city").append(html);
					form.render('select');
				}, 'json') 
			});

			form.on('select(city)', function(res) { // 选择城市
				cityVal = res.value
			})
		})

$('#buwei').on('click', 'span.radio', function() {
	$(this).addClass('active-radio').siblings().removeClass('active-radio')
	$(this).addClass('sexy').siblings().removeClass('sexy')
});
 			var isMivaService = true;
			var num = 1;
			$('#xian').on('click', 'span.miva-btn', function() { // 线上线下

				if ($(this).prop('class').indexOf('miva-btn-act') == -1) {
					$(this).addClass('miva-btn-act');
					$(this).attr('acc_type') == '1' ? num = num + 1 : num = num + 2;
				} else {
					$(this).removeClass('miva-btn-act');
					$(this).attr('acc_type') == '1' ? num = num - 1 : num = num - 2;
				}
			});


$('.check-box').on('change','input', function() {
	isSubmitOff = !isSubmitOff;
	if (isSubmitOff) {
		$('.submit').removeAttr('disabled').addClass('miva-btn-act');
	}else {
		$('.submit').attr('disabled', 'true').removeClass('miva-btn-act');
	}
})

 sex = {$user_data['sex']};
		
if({$user_data['sex']} == 0){
	$('.radio').on('click', function(){
		$(this).addClass('active-radio').siblings().removeClass('active-radio');
		sex = $(this).attr('sex');
	});
}


//音频
var video = '';
var video_big;
var upload_type;
var video_type_one = 'audio/mpeg';
var video_type_tow = 'audio/mp3';

var reader = new FileReader();
$('#newMiva').on('change', function(){
	upload_type = $(this).prop('files')[0]['type']
	//console.log(upload_type)
	video_big = $(this).prop('files')[0]['size']
	reader.readAsDataURL($(this).prop('files')[0]);
	reader.onload = function(e) {
		video = e.target.result
		
		$('.video').html('已上传')
	}
})

		$('.submit').click(function() { 
			
				//	alert(num);   这一项有2个值  1：没有选择线下    3：选择了线下 所以需要判断填写的东西是否存在  

			

			
			var nickname = $('[name="nickname"]').val()
			if(nickname == '快去填写你的昵称吧'){
				layui.use('layer', function() {
					layer.msg('请填昵称')
				}) 
				return false
			}

			var penguin = $('[name="penguin"]').val()
			if(penguin == ''){
				layui.use('layer', function(){
					layer.msg('请填写你的QQ号码')
				})
				return false
			}

			if(sex == 0){
				layui.use('layer', function() {
					layer.msg('请选择性别')
				}) 
				return false
			}

			var real_name = $('[name="real_name"]').val();
			if (real_name == '') {
				layui.use('layer', function() {
					layer.msg('请填写真实姓名')
				}) 
				return false
			}

			var birthday = $('[name="birthday"]').val();
			if (birthday == '') {
				layui.use('layer', function() {
					layer.msg('请填写生日')
				}) 
				return false
			}

			var table = $('[name="table"]').val();
			if (table == '') {
				layui.use('layer', function() {
					layer.msg('请填写个性标签')
				}) 
				return false
			}

			if (cityVal == '') {
				layui.use('layer', function() {
					layer.msg('请选择城市')
				}) 
				return false
			}

			var address = $('[name="address"]').val();
			if (address == '') {
				layui.use('layer', function() {
					layer.msg('请填写常用住址')
				}) 
				return false
			}

			var height = $('[name="height"]').val();
			if (height == '') {
				layui.use('layer', function() {
					layer.msg('请填写身高')
				}) 
				return false
			}
			var weight = $('[name="weight"]').val();
			if (weight == '') {
				layui.use('layer', function() {
					layer.msg('请填写体重')
				}) 
				return false
			}
			var duty = $('[name="duty"]').val();
			if (duty == '') {
				layui.use('layer', function(){
					layer.msg('请填写常职业')
				}) 
				return false
			}
			var hobby = $('[name="hobby"]').val();
			if (hobby == '') {
				layui.use('layer', function()  {
					layer.msg('请填写爱好')
				}) 
				return false
			}

			var sexy = $('.sexy').html(); //性感部位

			var project_id = $('.service-act').attr('attr_id') //游戏ID

			if(!project_id){
				layui.use('layer', function(){
					layer.msg('请选择服务项目')
				}) 
				return false
			}

			if(typeof project_grade === 'undefined'){
				layui.use('layer', function(){
					layer.msg('请选择服务等级')
				}) 
				return false
			}

			if(!img_data){
				layui.use('layer', function() {
					layer.msg('请填上传资料照')
				}) 
				return false
			}

			var explain = $('[name="explain"]').val();
			if (explain == '') {
				layui.use('layer', function() {
					layer.msg('请填写说明')
				}) 
				return false
			}

			if(video != ''){
				if(video_big>2000000){
					layui.use('layer', function() {
					layer.msg('音频文件上传过大，请重新上传')
					}) 
					return false
				}

				if(upload_type == 'audio/mpeg'||upload_type == 'audio/mp3'){
					
				}else{
					layui.use('layer', function(){
						layer.msg('请上传mp3格式的音频')
					}) 
					return false
				}
			}
			


			var acc_type = num //   线上/线下

			var card_num = $('[name="card_num"]').val();//身份证号
			
			//type     1：游戏项目  2：娱乐项目
			//img_data  base64
			if(acc_type == 3){
				//选择了开通线下  在这里判断里面的东西是否填写
				if(zhengData == ''){
					layui.use('layer', function() {
					layer.msg('请上传手持身份证照片')
				}) 
				return false
				}
				
				if(card_num == ''){
					layui.use('layer', function() {
					layer.msg('请输入身份证号')
				}) 
				return false
				}
				

			}



		layui.use(['layer'], function(){

				var htmlEl = '<div><i style="font-size:30px; margin:auto; margin-left:15px" class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop"></i></div> <div style=" margin:auto">正在上传，请等待</div>'
					layer.open({
						type:1,
						title: false,
						closeBtn: false,
						area: ['200px', '50px'],
						content: htmlEl,
						success: function() {

							$.post("{:url('Conpanion/apply')}", {
								//前往用户表的数据
								nickname:nickname,  //姓名
								penguin:penguin,	//QQ号
								sex:sex,	//性别
								////////
								
								//前往审核表的数据
								option:option,  //用户头像的base64
								city:cityVal,
								project:type,
								img_data:img_data,  //认证图片
								real_name:real_name,
								birthday:birthday,
								table:table,
								address:address,
								height:height,
								weight:weight,
								duty:duty,
								hobby:hobby,
								sexy:sexy,
								project_id:project_id,
								project_grade:project_grade,
								explain:explain,
								acc_type:acc_type,
								zhengData:zhengData,  //身份证 base64
								card_num:card_num,
								video:video 	//音频base64
							}, function(data){
								if(data.code == 1){
									layer.closeAll()
									//alert('提交成功,等待审核')
									layui.use('layer', function() {
									layer.open({type:0,content:data.msg,btn:false,title:'提交成功'})
									})
								}else if(data.code == 2){
									layer.closeAll()
									layui.use('layer', function() {
									layer.msg(data.msg)
									})
								}else if(data.code == 3){
									layer.closeAll()
									layui.use('layer', function() {
									layer.msg(data.msg)
									})
								}else if(data.code == 4){
									layer.closeAll()
									layui.use('layer', function() {
									layer.msg(data.msg)
									})
								}else{
									layer.closeAll()
									layui.use('layer', function() {
									layer.msg('未知错误')
									})
								}
							}, 'json')

						}
					})
				})


			
			return false
		})
	</script>

</body>

</html>
