{include file="public/header"}

<!--_menu 作为公共模版分离出去-->
{include file="public/sidebar"}
<!--/_menu 作为公共模版分离出去-->

<section class="Hui-article-box">

	<div class="Hui-article">
		<article class="cl pd-20">
			
			<div class="cl pd-5 bg-1 bk-gray mt-20"> 
				<span class="l"> 
					<a class="btn btn-primary radius"  href="{:url('Banner/add')}">
						<i class="Hui-iconfont">&#xe600;</i> 添加图片
					</a>
				</span> 
				<span class="r">共有数据：
					<strong>54</strong> 条
				</span>
			</div>
			<div class="mt-20">
				<table class="table table-border table-bordered table-bg table-hover table-sort">
					<thead>
						<tr class="text-c">
							<!--<th width="40"><input name="" type="checkbox" value=""></th>-->
							<th width="80">用户ID</th>
							<th width="300">真实姓名</th>
							<th>身份证图片</th>
							
							<th width="150">身份证号码</th>
							<th width="150">状态</th>
						
							<th width="100">操作</th>
						</tr>
					</thead>
					<tbody>
					{foreach name="real_data" item="v"}
						<tr class="text-c">
							<!--<td><input name="" type="checkbox" value=""></td>-->
							<td>{$v.user_id}</td>
							<td>{$v.real_name}</td>
							<td>
					
								<a href="javascript:;">
									<img width="100" class="picture-thumb" src="{$v.card_photo}">
								</a>
												
							</td>

							<td class="text-l">
								<a class="maincolor" href="javascript:;" >{$v.card_num}</a>
							</td>
							

							<td class="td-status">
							<span class="label label-success radius">待审核</span>
							</td>

							<td class="td-manage">
							
								<a style="text-decoration:none" data-item=ok class="ml-5"  title="同意"  user_id="{$v.user_id}" >
									<i class="Hui-iconfont">&#xe6df;</i>
								</a>

								<a style="text-decoration:none" data-item=delete class="ml-5 delete" title="拒绝"  user_id="{$v.user_id}" >
									<i class="Hui-iconfont">&#xe6e2;</i>
								</a>
								
								
							</td>						
						</tr>
					{/foreach}
					</tbody>
				</table>
			</div>
		</article>
	</div>
</section>

<!--_footer 作为公共模版分离出去-->
{include file="public/footer"}
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->

<script>
	$(function(){
		$('.ml-5').click(function(){
			var a = confirm("操作前请确认")
			if (a != true){
				return false
			}

			var status = $(this).attr('data-item')
			var user_id  = $(this).attr('user_id')
			
			$.post("{:url('Examine/request')}",{status:status,user_id:user_id},function(data){
					if(data.code == 1){
					alert(data.msg)
					window.location.reload()
				}else if(data.code == 2){
					alert(data.msg)
				}else if(data.code == 3){
					alert(data.msg)
				}else{
					alert('未知错误')
				}

			},'json')

		})
	})

	$(function(){
		$('.cancel').click(function(){
			var id = $(this).attr('number')
			
			$.post("{:url('Banner/cancel')}",{id:id},function(data){
				if(data.code == 1){
					alert(data.msg)
					window.location.reload()
				}else if(data.code == 2){
					alert(data.msg)
					
				}

			},'json')
			return false
		})

	})
</script>

<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>