{include file="public/header"}
<link href="__ADMIN__lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" />
{include file="public/sidebar"}

<body>
<div class="page-container">
	<form class="form form-horizontal" id="form-article-add" enctype="multipart/form-data" action="#"  method="post">
	
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>游戏名：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="游戏全名。" name="name">
			</div>
		</div>

		
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>排序ID：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="输入正整数，尽量不要重复，前四个会显示在首页" name="sort_id">
			</div>
		</div>
		
		
		
		<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>游戏LOGO</label>：
		<div class="row cl"  style="margin-left:200px;">

			<img style="width:200px" id="pic-one" src="" alt="">
			<input id="miva" type="file"  name="cover">
		<!--
			<img style="width:200px" id="pic-tow" src="" alt="">
			<input id="mivb" type="file"  name="img_url[]">

			<img style="width:200px" id="pic-three" src="" alt="">
			<input id="mivc" type="file"  name="img_url[]">			
			-->
		</div>

		<label class="form-label col-xs-4 col-sm-2"  style="margin-left:50px;"><span class="c-red">*</span>显示在首页的游戏图片</label>：
		<div class="row cl"  style="margin-left:200px;">
			<img style="width:200px" id="pic-tow" src="" alt="">
			<input id="miva2" type="file"  name="image">
		</div>
		<!--
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red"></span>游戏级别分类：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="游戏全名。" name="name" style="width:300px;">
				<a data-item="delete" class="delete">删除</a>
			</div>

		</div>
		<a href="javascript:;" style="margin-left:450px;" class="add">增加</a>
		-->
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i>提交</button>
			</div>
		</div>
	</form>

</div>
</div>
<!--_footer 作为公共模版分离出去-->
{include file="public/footer"}
<!--/_footer /作为公共模版分离出去-->

<script>/*
	$(function(){
		$('.add').click(function(){
			var str =""
			str += '<div class="row cl">'
			str += '<label class="form-label col-xs-4 col-sm-2"><span class="c-red"></span>游戏级别分类：</label>'
			str += '<div class="formControls col-xs-8 col-sm-9">'
			str += '<input type="text" class="input-text" value="" placeholder="游戏全名。" name="name" style="width:300px;">'
			str += '<a  data-item="delete" class="delete">删除</a>'
			str += '</div></div>'

			$(this).before(str); //在元素前追加

			$('[data-item=delete]').on('click', function(){
				$(this).parent().parent().remove(); //找到最终的父级元素  然后删除
			})
		})

		
	})*/
</script>
<!--请在下方写此页面业务相关的脚本-->
<script>
	$('#miva').on('change',function(){
		var file = document.querySelector('#miva').files[0];

		var newfile = new FileReader();
		newfile.readAsDataURL(file,"UTF-8");

		newfile.onload = function () {
			$('#pic-one').attr('src',newfile.result);
		}
	})
	$('#miva2').on('change',function(){
		var file = document.querySelector('#miva2').files[0];

		var newfile = new FileReader();
		newfile.readAsDataURL(file,"UTF-8");

		newfile.onload = function () {
			$('#pic-tow').attr('src',newfile.result);
		}
	})
/*
	$('#mivb').on('change',function(){
		var file = document.querySelector('#mivb').files[0];

		var newfile = new FileReader();
		newfile.readAsDataURL(file,"UTF-8");

		newfile.onload = function () {
			$('#pic-tow').attr('src',newfile.result);
		}
	})

	$('#mivc').on('change',function(){
		var file = document.querySelector('#mivc').files[0];

		var newfile = new FileReader();
		newfile.readAsDataURL(file,"UTF-8");

		newfile.onload = function () {
			$('#pic-three').attr('src',newfile.result);
		}
	})
	*/
</script>

</body>
</html>