<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__ADMIN__lib/layer/2.4/layer.js"></script> 
<script type="text/javascript" src="__ADMIN__lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="__ADMIN__lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__ADMIN__lib/jquery.validation/1.14.0/messages_zh.js"></script> 
<script type="text/javascript" src="__ADMIN__static/h-ui/js/H-ui.js"></script> 
<script type="text/javascript" src="__ADMIN__static/h-ui.admin/js/H-ui.admin.page.js"></script> 

<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">

</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>