{include file="public/header"}
{include file="public/sidebar"}

	<body style="background:#f3f3f3">
		<!-- 引入头部 -->
		<div class="main peiwan-info">
			<!-- 上面的用户信息 -->
			<div class="top-user-info">
                <!--头像-->
                <div class="new-pic-box" style="margin-right: 30px">
                {if condition="empty($user_data['head_img'])"}
                <img src="__IMG__default.jpg" />
                {else /}
                    {if condition="$user_data['neice'] == 1"}
                    <img class="kuang" src="__IMG__kuang.png" />
                    {/if}
                <img class="new-pic" src="{$user_data.head_img}" />
                {/if}
                {if condition="$user_data.status == 1" }
                <!--在线状态-->
                <span style="display: inline-block;background: #A9F9C3;color: #fff;padding: 3px 20px;border-radius: 5px;position: absolute;bottom: 0;left: 50%;z-index: 9999;-webkit-transform: translate(-50%);transform: translate(-50%);">在线</span>

                {else /}
                <!--在线状态-->
                <span style="display: inline-block;background: #A9F9C3;color: #fff;padding: 3px 20px;border-radius: 5px;position: absolute;bottom: 0;left: 50%;z-index: 9999;-webkit-transform: translate(-50%);transform: translate(-50%);">下线</span>

                {/if}

            </div>
				<!--用户信息-->
			<div class="user-info"><span>{$user_data.nickname}</span>
                {if condition="$user_data.down == 2"}
                <span style="margin-left:100px;color:#FBC94C;">线下接单已开启</span>
                {else /}
                <span style="margin-left:100px;color:#FBC94C;">线下接单已关闭</span>
                {/if}
				<div class="user-id"><span>ID:{$user_data.uid}</span><span><i class="layui-icon layui-icon-fire"></i>{$user_data.hot}</span></div>
				<div class="tab">个性签名:<span>{$user_data.table}</span></div>
			</div>
				<!--礼物消息-->
				<div style="height: 140px; width: 45%;" id="gift" class="swiper-container">
					<div style="width: 100% !important" class="gift-msg swiper-wrapper">
						<!--一条-->
						<div class="msg-box swiper-slide">
							<div class="msg"><span class="time"><?php echo rand(06,23)?>:<?php echo rand(0,59)?></span><span class="body"><span>蝴蝶为谁开~</span> 赠送给 无缘的缘分<span>1个小礼物 <img src="images/png/ea5cd4eeed76a59fac1f8184acc2c695.png"/></span></span>
							</div>
						</div>
						<!--一条
						<div class="msg-box swiper-slide">
							<div class="msg"><span class="time"><?php //echo rand(06,23)?>:<?php //echo rand(0,59)?></span><span class="body"><span>N个网名用不完</span> 赠送给 冷月妖娆 ヽ由命<span>1个小礼物 <img src="images/png/ea5cd4eeed76a59fac1f8184acc2c695.png"/></span></span>
							</div>
						</div>
						
						<div class="msg-box swiper-slide">
							<div class="msg"><span class="time"><?php //echo rand(06,23)?>:<?php //echo rand(0,59)?></span><span class="body"><span>可悲的小孩</span> 赠送给 经年°reminis<span>1个小礼物 <img src="images/png/ea5cd4eeed76a59fac1f8184acc2c695.png"/></span></span>
							</div>
						</div>
						
						<div class="msg-box swiper-slide">
							<div class="msg"><span class="time"><?php //echo rand(06,23)?>:<?php //echo rand(0,59)?></span><span class="body"><span>Summer</span> 赠送给 逆光的少年<span>1个小礼物 <img src="images/png/ea5cd4eeed76a59fac1f8184acc2c695.png"/></span></span>
							</div>
						</div>
					
						<div class="msg-box swiper-slide">
							<div class="msg"><span class="time"><?php //echo rand(06,23)?>:<?php //echo rand(0,59)?></span><span class="body"><span>梦亡 </span> 赠送给 HEY1 贵人诱惑<span>1个小礼物 <img src="images/png/ea5cd4eeed76a59fac1f8184acc2c695.png"/></span></span>
							</div>
						</div>
					
						<div class="msg-box swiper-slide">
							<div class="msg"><span class="time"><?php //echo rand(06,23)?>:<?php //echo rand(0,59)?></span><span class="body"><span>Sadness</span> 赠送给 伊始E<span>1个小礼物 <img src="images/png/ea5cd4eeed76a59fac1f8184acc2c695.png"/></span></span>
							</div>
						</div>
					
						<div class="msg-box swiper-slide">
							<div class="msg"><span class="time"><?php //echo rand(06,23)?>:<?php //echo rand(0,59)?></span><span class="body"><span>仅此一念</span> 赠送给 唯有一心<span>1个小礼物 <img src="images/png/ea5cd4eeed76a59fac1f8184acc2c695.png"/></span></span>
							</div>
						</div>
						
						<div class="msg-box swiper-slide">
							<div class="msg"><span class="time"><?php //echo rand(06,23)?>:<?php //echo rand(0,59)?></span><span class="body"><span>蓝眸少年</span> 赠送给 灿小花<span>1个小礼物 <img src="images/png/ea5cd4eeed76a59fac1f8184acc2c695.png"/></span></span>
							</div>
						</div>
						-->
					</div>
				</div>
				<!--关注按钮-->
				<div class="follw-box">
					<div class="follow-btn" onclick="guanzhu('{$user_data.uid}')"><span>{if condition="$is_follow eq 1"}已关注{else/}关注{/if}</span><b>{$number}</b></div>
					<div class="btm"><span>微信下单</span><span>分享</span></div>
				</div>
			</div>
			<!--关注js-->
			
            <script type="text/javascript">
                function guanzhu($id){
                    $.post("{:url('Index/follow_add')}",{followed_user:$id},function(data){
						if(data.code == 4){
                            layui.use('layer',function(){
                                layer.msg(data.msg)})
                            setTimeout(function(){
                                layui.use('layer', function() {
                                    layer.open({
                                        type: 2,
                                        title: '登录/注册',
                                        maxmin: false,
                                        scrollbar: false,
                                        skin: 'layui-layer-bai',
                                        shadeClose: true, //点击遮罩关闭层
                                        area: ['460px', '610px'],
                                        //           zIndex:99999999,
                                        content: "{:url('Login/login')}",
                                        success: function(layero, index) {


                                            var body = layer.getChildFrame('body', index);
                                            var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
                                            // console.log(body.html()) //得到iframe页的body内容
                                            var from = body.find('.login-form')



                                            $(body.find('#kanbuq')).on("click",function(){
                                                $(body.find('#miva')).trigger('click');
                                            })
                                            //登录
                                            $(from).submit(function(){
                                                var account = body.find('[name="account"]').val()
                                                var password = body.find('[name="password"]').val()
                                                var captcha_code = body.find('[name="captcha_code"]').val()
                                                var src = $(body.find('#miva')).attr('src')

                                                $.post("{:url('Login/login')}",{account:account,password:password,captcha_code:captcha_code},function(data){
                                                    if(data.code == 1){
                                                        layui.use('layer',function(){
                                                            layer.msg(data.msg)})
                                                        $(body.find('#miva')).attr('src',src+'&'+Math.random())
                                                    }else if(data.code == 2){
                                                        layui.use('layer',function(){
                                                            layer.msg(data.msg)})
                                                        $(body.find('#miva')).attr('src',src+'&'+Math.random())
                                                    }else if(data.code == 3){
                                                        layui.use('layer',function(){
                                                            layer.msg(data.msg)})
                                                        layer.closeAll();
                                                        window.location.href=data.url
                                                    }else if(data.code == 4){
                                                        layui.use('layer',function(){
                                                            layer.msg(data.msg)});
                                                        $(body.find('#miva')).attr('src',src+'&'+Math.random())
                                                    }

                                                },'json')

                                                return false

                                            })



                                            $(body.find('.button')).click(function(){

                                                var _this = body.find('.button');
                                                var phone = $(body.find('[name="phone"]')).val()
                                                var mobile = /^(13[0-9]|14[579]|15[0-3,5-9]|16[6]|17[0135678]|18[0-9]|19[89])\d{8}$/;
                                                var num = 60;
                                                var timer;


                                                if(!mobile.test(phone)){

                                                    layui.use('layer',function(){
                                                        layer.msg('手机号输入错误')})
                                                    return false
                                                }

                                                /*
                                                              timer = setInterval(function(e) {
                                                                $(_this).html('发送验证码(' + num + ')')
                                                                num--;
                                                                if (num <= 1) {
                                                                  clearInterval(timer)
                                                                  $(_this).removeAttr('disabled');
                                                                  $(_this).html('发送验证码')
                                                                }else {
                                                                  $(_this).attr('disabled','true');
                                                                }
                                                              }, 1000);
                                                */

                                                $.post("{:url('Login/code')}",{phone:phone},function(data){

                                                    if(data.code == 1){
                                                        layui.use('layer',function(){
                                                            layer.msg(data.msg)});


                                                        timer = setInterval(function(e) {
                                                            $(_this).html('发送验证码(' + num + ')')
                                                            num--;
                                                            if (num <= 1) {
                                                                clearInterval(timer)
                                                                $(_this).removeAttr('disabled');
                                                                $(_this).html('发送验证码')
                                                            }else {
                                                                $(_this).attr('disabled','true');
                                                            }
                                                        }, 1000);


                                                    }else if(data.code == 2){
                                                        layui.use('layer',function(){
                                                            layer.msg(data.msg)})
                                                    }else if(data.code == 3){
                                                        layui.use('layer',function(){
                                                            layer.msg(data.msg)})
                                                    }else{
                                                        layui.use('layer',function(){
                                                            layer.msg('未知错误')})
                                                    }
                                                },'json')
                                                return false
                                            })

                                            var isRegOff = true;
                                            $(body.find('#agreement')).on('change', function() {
                                                isRegOff = !isRegOff;
                                                if (!isRegOff) {
                                                    body.find('.register').attr('disabled', 'true')
                                                }else {
                                                    body.find('.register').removeAttr('disabled')
                                                };
                                            });
                                            //注册

                                            $(body.find('.register')).click(function(){
                                                var code = $(body.find('[name="code"]')).val()
                                                var phone = $(body.find('[name="phone"]')).val()
                                                var passwor = $(body.find('[data-item=pwd]')).val()
                                                if(code == ''){
                                                    layui.use('layer',function(){
                                                        layer.msg('验证码不能为空')})
                                                    return false
                                                }
                                                if(passwor == ''){
                                                    layui.use('layer',function(){
                                                        layer.msg('密码不能为空')})
                                                    return false
                                                }
                                                var repea =  $(body.find('[data-item=repeat]')).val()

                                                if(passwor != repea){
                                                    layui.use('layer',function(){
                                                        layer.msg('2次密码输入不一致，请重新输入')})
                                                    return false
                                                }

                                                // alert(code,phone,password)
                                                $.post("{:url('Login/register')}",{account:phone,password:passwor,code:code},function(data){
                                                    if(data.code == 1){
                                                        layui.use('layer',function(){
                                                            layer.msg(data.msg)})
                                                    }else if(data.code == 2){
                                                        layui.use('layer',function(){
                                                            layer.msg(data.msg)})
                                                    }else if(data.code == 3){
                                                        layui.use('layer',function(){
                                                            layer.msg(data.msg)})
                                                    }else if(data.code == 4){
                                                        layui.use('layer',function(){
                                                            layer.msg(data.msg)})
                                                        layer.closeAll();

                                                        function jump(){
                                                            // window.location.href="{:url('Index/index')}"//data.url
                                                            window.location.href=data.url
                                                        }

                                                        setInterval(jump,1000);

                                                    }else if(data.code == 5){
                                                        layui.use('layer',function(){
                                                            layer.msg(data.msg)})
                                                    }

                                                },'json')
                                                return false
                                            })

                                            //忘记密码
                                            $(body.find('[send="forget"]')).click(function(){

                                                var _this = body.find('.send');
                                                var phone = $(body.find('[name="call"]')).val()
                                                var mobile = /^(13[0-9]|14[579]|15[0-3,5-9]|16[6]|17[0135678]|18[0-9]|19[89])\d{8}$/;
                                                var num = 60;
                                                var timer;

                                                if(!mobile.test(phone)){
                                                    layui.use('layer',function(){
                                                        layer.msg('手机号输入错误，请重新输入')})
                                                    return false
                                                }



                                                $.post("{:url('Login/forget_code')}",{phone:phone},function(data){

                                                    if(data.code == 1){
                                                        layui.use('layer',function(){
                                                            layer.msg('发送成功，请注意查收')})

                                                        timer = setInterval(function(e){
                                                            $(_this).html('发送验证码(' + num + ')')
                                                            num--;
                                                            if (num <= 1) {
                                                                clearInterval(timer)
                                                                $(_this).removeAttr('disabled');
                                                                $(_this).html('发送验证码')
                                                            }else {
                                                                $(_this).attr('disabled','true');
                                                            }
                                                        }, 1000);

                                                    }else if(data.code == 2){
                                                        layui.use('layer',function(){
                                                            layer.msg('发送失败，错误码002')})

                                                    }else if(data.code == 3){
                                                        layui.use('layer',function(){
                                                            layer.msg(data.msg)})
                                                    }else{
                                                        layui.use('layer',function(){
                                                            layer.msg('未知错误，请检查后重新尝试发送')})
                                                    }
                                                },'json')
                                                return false
                                            })

                                            $(body.find('[reset-pwd="click"]')).click(function(){

                                                var phone = $(body.find('[name="call"]')).val()
                                                var code =  $(body.find('[name="forget_code"]')).val()
                                                var password =  $(body.find('[name="forget_password"]')).val()
                                                var repeat =  $(body.find('[name="forget_repeat"]')).val()
                                                if(password == ''){
                                                    layui.use('layer',function(){
                                                        layer.msg('密码不能为空')})
                                                    return false
                                                }

                                                if(password != repeat){
                                                    layui.use('layer',function(){
                                                        layer.msg('新密码输入不一致，请重新输入')})
                                                    return false
                                                }

                                                $.post("{:url('Login/forget')}",{phone:phone,code:code,password:password},function(data){
                                                    if(data.code == 1){
                                                        layui.use('layer',function(){
                                                            layer.msg('自己填的验证码不算')})
                                                    }else if(data.code ==2){
                                                        layui.use('layer',function(){
                                                            layer.msg('验证码不能为空')})
                                                    }else if(data.code == 3){
                                                        layui.use('layer',function(){
                                                            layer.msg('验证码输入错误，请重新填写，或重新发送验证码')})
                                                    }else if(data.code == 4){
                                                        layui.use('layer',function(){
                                                            layer.msg('重置成功，请去登录界面登录')})
                                                    }else if(data.code ==5){
                                                        layui.use('layer',function(){
                                                            layer.msg('重置失败，错误码005')})
                                                    }else{
                                                        layui.use('layer',function(){
                                                            layer.msg('未知错误，请检查后重新尝试发送')})
                                                    }

                                                },'json')
                                                return false

                                            })


                                        }
                                    });
                                });
                                //window.location.href="{:url('Login/login')}"
                            },1000)
                            return false
						}else if(data.code == 2){
                            layui.use('layer',function(){
                                layer.msg(data.msg)})
                            $('.follow-btn >span').text('关注')
                            $('.follow-btn >b').text(parseInt($('.follow-btn >b').text())-1)
                        }else if(data.code == 1){
                            layui.use('layer',function(){
                                layer.msg(data.msg)})
                            $('.follow-btn >span').text('已关注')
                            $('.follow-btn >b').text(parseInt($('.follow-btn >b').text())+1)

                        }else{
                            layui.use('layer',function(){
                                layer.msg(data.msg)})
						}
                    },'json')
                    return false
                }
            </script>
			<!--关注js-->
			<!--页面下方的盒子-->
			<div class="bottom-box">
				<!-- 这里为左右结构 -->
				<!-- 左 -->

				<div class="left-box">
					<!-- 照片展示 -->
					{if condition="!empty($album_data)"}
				<div class="photo-show-box">
					<div class="photo-box"><img src="{$album_data[0]['img_url']}" alt="" class="photo-big"></div>
					<!-- 照片选择 -->
					<div class="photo-select">
						<!-- 左箭头 --><span style="background-image: url('__IMG__right.png')" class="jt-left"></span>
						<!-- 中间的可选项 -->
						<div class="middle-box">
							<div class="middle-img-box">
							{foreach name="album_data" item="v"}
							<img src="{$v.img_url}" alt="">
							{/foreach}
							</div>
						</div>
						<!-- 右箭头 --><span style="background-image: url('__IMG__right.png')" class="jt-right"></span></div>
				</div>
				{else /}
				<div class="photo-show-box">
					<div class="photo-box"><img src="__IMG__default.jpg" alt="" class="photo-big"></div>
					<!-- 照片选择 -->
					<div class="photo-select">
						<!-- 左箭头 --><span style="background-image: url('__IMG__right.png')" class="jt-left"></span>
						<!-- 中间的可选项 -->
						<div class="middle-box">
						
						<img src="__IMG__default.jpg" alt="">
						
						</div>
						<!-- 右箭头 --><span style="background-image: url('__IMG__right.png')" class="jt-right"></span></div>
				</div>
				{/if}
					<script type="text/javascript">
						var gitf = new Swiper('.swiper-container', {
							direction: 'vertical',
							slidesPerView: 2,
							loop: true,
							autoplay: {
								disableOnInteraction: false,
							}
						})

						$('.photo-box').on('click', 'img', function() {
							var $this = $(this);
							layui.use('layer', function() {
								layer.open({
									type: 1,
									title: false,
									content: '<img height=100% width=100% id="newMiva" src=""/>',
									scrollbar: false,
									resize: false,
									zIndex: 7489436491,
//									btn: ['确认'],
									area: ['800px', '800px'],
									success: function(layero, index) {
										imgbox = layero.find("#newMiva");
										imgbox.attr('src', $this.prop('src'));
									}
								})
							})
						})
					</script>
					
					<script type="text/javascript">
						$(function() {
							var nowNum = 0; // 当前预览图位置

							$('.photo-select').on('mouseover', 'img', function() {
								$('.photo-big').prop('src', $(this).prop('src'))
							})

							$('.photo-select').on('click', 'span', function() {
								var mBox = $('.middle-img-box');
								var className = $(this).prop('class');
								var maxNum = mBox.children('img').length;
								var transform = 'transform';

								if(className == 'jt-left' && nowNum < 0) {
									nowNum++
								}
								if(className == 'jt-right' && nowNum > -maxNum + 5) {
									nowNum--
								}

								if(!support_css3('transform')) transform = '-webkit-transform';

								mBox.css(transform, 'translateX(' + 84 * nowNum + 'px)')
							})

							/**
							 * @description 判断css兼容性头缀
							 * @example 'var xx = support_css3(xxx)'
							 * @return {[bollean]}
							 */
							var support_css3 = (function() {
								var div = document.createElement('div'),
									vendors = 'Ms,O,Moz,Webkit'.split(','),
									len = vendors.length;

								return function(prop) {
									if(prop in div.style) return true;

									prop = prop.replace(/^[a-z]/, function(val) {
										return val.toLowerCase();
									});

									while(len--) {
										if(vendors[len] + prop in div.style) {
											return true;
										}
									}
									return false;
								};
							})();

						});
					</script>
					<!-- 照片展示end -->
					<!-- 礼物盒子 -->
					<div class="gift-box">
					<!-- 标签页 -->
					<div class="tab"><span class="active"><img src="" alt="">礼物</span><!--<span class=""><img src="" alt="">冠军</span>--></div>
					<!-- 箱子 -->
				
					<ul class="box">
						{foreach  name="gift_data" item="v" }
							<li data-main="{$v.id}" class="give-list-one">
								<div class="img-box">
									<img src="{$v.img_url}" alt="">
								</div>
								<div class="gift-info">
									<!--我的信息-->
									<div class="my-info"><span>{$user_data.nickname}</span><!--<span>剩余钻石:0</span>--></div>
									<!--礼物的信息-->
									<div class="this-info">
										<div class="gift-img-box">
											<img src="{$v.img_url}" alt="">
										</div>
										
										<div class="gift-num-box">
											<div>{$v.name}</div>
											<div data-item='dan'>需要鸟蛋:{$v.pice}</div>
											<div><input type="text" name="num" data-id="mimiva"  gift_id="{$v.id}" data-item-num value="" /><span class="xiaoshou" gift_id="{$v.id}">赠送</span></div>
										</div>

									</div>
									<hr />
									<div class="biajie">
										<ul>
											<li>
												<div class="liwu" gift_id="{$v.id}" num="1" >
													<div>1</div>
													<span>一心一意</span>
												</div>
											</li>
											<li>
												<div class="liwu" gift_id="{$v.id}"  num="10" >
													<div>10</div>
													<span>十全十美</span>
												</div>
											</li>
											<li>
												<div class="liwu" gift_id="{$v.id}" num="30"  >
													<div>30</div>
													<span>情不自禁</span>
												</div>
											</li>
											<li>
												<div class="liwu" gift_id="{$v.id}" num="66"  >
													<div>66</div>
													<span>六六大顺</span>
												</div>
											</li>
											<li>
												<div class="liwu" gift_id="{$v.id}" num="520"  >
													<div>520</div>
													<span>情有独钟</span>
												</div>
											</li>
											<li>
												<div class="liwu" gift_id="{$v.id}" num="1314"  >
													<div>1314</div>
													<span>一生一世</span>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</li>
							{/foreach}
						</ul>
						
				</div>
				<script>
						//送礼Ajax
					$(function(){
						$('.box').on('click','.xiaoshou',function(){
							var gift_id = $(this).attr('gift_id')//礼物ID
							var acc_id = "{$user_data.uid}";//陪玩师ID
							var num =  $(this).parent().find('[data-item-num]').val()//礼物数量		

							var reg = /^\+?[1-9][0-9]*$/;
								
							if(!reg.test(num))
							{
								layui.use('layer',function(){
								layer.msg('请填写正整数')
								})
								return false
							}

							$.post("{:url('Index/giving_gifts')}",{gift_id:gift_id,acc_id:acc_id,num:num},function(data){
									if(data.code == 1){
										window.location.href="{:url('Index/index',['qingnidenglu' => 1])}"
									}else if(data.code == 2){
										layui.use('layer',function(){
										layer.msg(data.msg)})
									}else if(data.code == 3){
										layui.use('layer',function(){
										layer.msg(data.msg)})
									}else if(data.code == 4){
										layui.use('layer',function(){
										layer.msg(data.msg)})
									}else{
										layui.use('layer',function(){
										layer.msg('未知错误')})
									}

							},'json')

						})

                        
						$('.biajie').on('click', '.liwu', function(){
							var num =  $(this).attr('num')
                            var id = $(this).attr('gift_id')

                            $('[data-main='+ id +']').find('[data-id=mimiva]').val(num)

                            var price = num * 10;
                            $('[data-main='+ id +']').find('[data-item=dan]').html('需要鸟蛋:'+price)


						})
                        $('[data-id=mimiva]').on('input', function(){
                            console.log(123)
                            var id = $(this).attr('gift_id')
                            var price = $(this).val() * 10;
                            $('[data-main='+ id +']').find('[data-item=dan]').html('需要鸟蛋:'+price)

                            console.log(parseInt($('[data-main='+ id +']').find('[data-item=dan]').html()))
                        })
						/*
						$('.liwu').click(function(){
							var gift_id = $(this).attr('gift_id')//礼物ID
							var acc_id = "{$user_data.uid}";//陪玩师ID
							var num =  $(this).attr('num')//礼物数量

							var reg = /^\+?[1-9][0-9]*$/;
								
							if(!reg.test(num))
							{
								layui.use('layer',function(){
								layer.msg('乱改什么东西啊')
								})
								return false
							}

							$.post("{:url('Index/giving_gifts')}",{gift_id:gift_id,acc_id:acc_id,num:num},function(data){
									if(data.code == 1){
										window.location.href="{:url('Index/index',['qingnidenglu' => 1])}"
									}else if(data.code == 2){
										layui.use('layer',function(){
										layer.msg(data.msg)})
									}else if(data.code == 3){
										layui.use('layer',function(){
										layer.msg(data.msg)})
									}else if(data.code == 4){
										layui.use('layer',function(){
										layer.msg(data.msg)})
									}else{
										layui.use('layer',function(){
										layer.msg('未知错误')})
									}

							},'json')

						})
						*/
					})
				</script>
					<!-- 礼物盒子end -->
					<!-- 个人资料 -->
					<div class="user-info-box">
					<div class="title-box"><img src="__IMG__user-title-1.png" alt="" class="bg">
						<span>个人资料<img src="" alt=""></span>
					</div>
					<!-- 详细资料 -->
					<div class="user-info">
						<div class="one"><!--<img src="images/png/data_01.png" alt="">--> 年龄 : <span>{$user_data.age}岁</span></div>
						<div class="one"><!--<img src="images/png/data_01.png" alt="">--> 身高 : <span>{$user_data.height} cm</span></div>
						<div class="one"><!--<img src="images/png/data_02.png" alt="">--> 体重 : <span>{$user_data.weight} Kg</span></div>
						<div class="one"><!--<img src="images/png/data_03.png" alt="">--> 职业 : <span>{$user_data.duty}</span></div>
						<div class="one"><!--<img src="images/png/data_03.png" alt="">--> 城市 : <span>{$user_data.city}</span></div>
						<div class="one"><!--<img src="images/png/data_03.png" alt="">--> 性感部位 : <span>{$user_data.sexy}</span></div>
						<div class="one"><!--<img src="images/png/data_04.png" alt="">--> 兴趣爱好 : <span>{$user_data.hobby}</span></div>
						<div class="one"><!--<img src="images/png/data_05.png" alt="">--> 心里的话 : <span>{$user_data.table}</span></div>
					</div>
				</div>
					<!-- 个人资料end -->
				</div>
				<!-- 右 上中下三层结构 -->
				<div class="right-box">
					<!-- 1.礼物 分上下两层 -->
					<div class="gift-box">
					<div class="top-box-gift">
						<div><img src="__IMG__abb6deef23da7d552e54e1d035d1c91c.png" alt="">守护榜</div>
			
						{if condition="empty($sort_data[0])"}
							

							<div>
		
								<img class="have-corwm" src="__IMG__crowm.png" alt="">
								<img class="user-pic one" src="__IMG__empty.jpg" alt="">
																								
								<div>
									<img src="__IMG__icon2.gif" alt="">
								</div>
							</div>
						{else /}
							<div>
								{if condition="$sort_data[0]['head_img'] == ''"}
								<img class="have-corwm" src="__IMG__crowm.png" alt="">
								<img class="user-pic one" src="__IMG__default.jpg" alt="">
								{else /}
								<img class="have-corwm" src="__IMG__crowm.png" alt="">
								<img class="user-pic one" src="{$sort_data[0]['head_img']}" alt="">
								{/if}
									
									
								<div>
									<img src="__IMG__icon2.gif" alt="">{$sort_data[0]['egg_num']}
								</div>
							</div>
						{/if}

						{if condition="empty($sort_data[1])"}
							<div>
		
								<img class="have-corwm" src="__IMG__crowm.png" alt="">
								<img class="user-pic tow" src="__IMG__empty.jpg" alt="">
																								
								<div>
									<img src="__IMG__icon2.gif" alt="">
								</div>
							</div>
						{else /}
							<div>
								{if condition="$sort_data[1]['head_img'] == ''"}
								<img class="have-corwm" src="__IMG__crowm.png" alt="">
								<img class="user-pic tow" src="__IMG__default.jpg" alt="">
								{else /}
								<img class="have-corwm" src="__IMG__crowm.png" alt="">
								<img class="user-pic tow" src="{$sort_data[1]['head_img']}" alt="">
								{/if}
									
									
								<div>
									<img src="__IMG__icon2.gif" alt="">{$sort_data[1]['egg_num']}
								</div>
							</div>
						{/if}

						{if condition="empty($sort_data[2])"}
							<div>
		
								<img class="have-corwm" src="__IMG__crowm.png" alt="">
								<img class="user-pic three" src="__IMG__empty.jpg" alt="">
																								
								<div>
									<img src="__IMG__icon2.gif" alt="">
								</div>
							</div>
						{else /}
							<div>
								{if condition="$sort_data[2]['head_img'] == ''"}
								<img class="have-corwm" src="__IMG__crowm.png" alt="">
								<img class="user-pic three" src="__IMG__default.jpg" alt="">
								{else /}
								<img class="have-corwm" src="__IMG__crowm.png" alt="">
								<img class="user-pic three" src="{$sort_data[2]['head_img']}" alt="">
								{/if}
									
									
								<div>
									<img src="__IMG__icon2.gif" alt="">{$sort_data[2]['egg_num']}
								</div>
							</div>
						{/if}

						{if condition="empty($sort_data[3])"}
							<div>
		
							
								<img class="user-pic" src="__IMG__empty.jpg" alt="">
																								
								<div>
									<img src="__IMG__icon2.gif" alt="">
								</div>
							</div>
						{else /}
							<div>
								{if condition="$sort_data[3]['head_img'] == ''"}
							
								<img class="user-pic" src="__IMG__default.jpg" alt="">
								{else /}
								
								<img class="user-pic" src="{$sort_data[3]['head_img']}" alt="">
								{/if}
									
									
								<div>
									<img src="__IMG__icon2.gif" alt="">{$sort_data[3]['egg_num']}
								</div>
							</div>
						{/if}

						{if condition="empty($sort_data[4])"}
							<div>
		
								
								<img class="user-pic" src="__IMG__empty.jpg" alt="">
																								
								<div>
									<img src="__IMG__icon2.gif" alt="">
								</div>
							</div>
						{else /}
							<div>
								{if condition="$sort_data[4]['head_img'] == ''"}
								
								<img class="user-pic" src="__IMG__default.jpg" alt="">
								{else /}
								
								<img class="user-pic" src="{$sort_data[4]['head_img']}" alt="">
								{/if}
									
									
								<div>
									<img src="__IMG__icon2.gif" alt="">{$sort_data[4]['egg_num']}
								</div>
							</div>
						{/if}

						{if condition="empty($sort_data[5])"}
							<div>
		
								
								<img class="user-pic" src="__IMG__empty.jpg" alt="">
																								
								<div>
									<img src="__IMG__icon2.gif" alt="">
								</div>
							</div>
						{else /}
							<div>
								{if condition="$sort_data[5]['head_img'] == ''"}
								
								<img class="user-pic" src="__IMG__default.jpg" alt="">
								{else /}
								
								<img class="user-pic" src="{$sort_data[5]['head_img']}" alt="">
								{/if}
									
									
								<div>
									<img src="__IMG__icon2.gif" alt="">{$sort_data[5]['egg_num']}
								</div>
							</div>
						{/if}
					</div>
					<div class="bottom-box-gift">
						<div><img src="__IMG__user-info-icon1.png" alt=""><span class="title-bottom-gift">我的礼物</span></div>
						{foreach name="sort_gift" item="v"}
						<div><img src="{$v.img_url}"><span>{$v.num}</span></div>
						{/foreach}
					</div>
				</div>
					<!-- 2.游戏介绍 下单 -->
					<div class="game-info-box">
					<!-- 1.标签页形式的标题 -->
					<div class="tab-title">
					{foreach name="service_name" item="v" key="k"}
					<span {if condition="$k == 0"}class="active"{/if}  project="{$v.project}" project_id="{$v.project_id}" >{$v.project_name}</span>
					{/foreach}
					</div>
					
					<!-- 2.单子的详细内容 -->
					<div class="order-info">
						{if condition="isset($service_data.game_index_img)"}
						<img src="{$service_data.game_index_img}" alt="">
						{else /}
						<img class="user-pic one" src="__IMGS__php.jpg" alt="">
						{/if}   
						<div class="info-box">
							<div class="money"><span>￥199</span>/小时</div>
							<div class="tip-box"><span>{$service_data.project_grade_name}</span></div>
							<div class="max-time"><img src="" alt=""><span>接单时长:{$service_data.length_time/60} min</span></div>
							<div class="audio-box xiaoshou">
                                <img src="__IMG__icon-play.png" alt="" style="width: 22px;height: 22px" class="play">
                                <span data-time="" id="audioTime">0</span><img src="__IMG__icon-auido.png" alt="">
                            </div>
                        </div>
                        <audio  id="audio" src="{$service_data.video_url}" ></audio>
                        {if condition="$user_data.down == 2"}
						<a href="{:url('Order/offline',['id' => $user_data['uid'],'project' => $service_data['project'],'project_id' => $service_data['project_id']])}">
                            
                            <span class="submit-btn">立即下单</span>
                         </a>
                            {else /}
                            <p class="submit-btn" style="background:#999999;">立即下单</p>
                            {/if}
                       
					</div>
					<script type="text/javascript">
						$('.tab-title').on('click', 'span', function() {
							$(this).addClass('active').siblings().removeClass('active')
							var acc_id = {$user_data.uid};
							var project = $(this).attr('project')
							var project_id = $(this).attr('project_id')
						
							var str = '';
							$.post("{:url('index/service_ajax')}",{acc_id:acc_id,project:project,project_id:project_id},function(data){
								
								console.log(data)
								var uid = "{$user_data['uid']}";
								//http://localhost/huoniao/public/index.php/index/order/offline/id/
								var wow = 'https://www.huoniaopeiwan.com/index/order/offline/id/'+{$user_data['uid']}+'/project/'+project+'/project_id/'+project_id;
								str += `
										<img src="${data.project_img}" alt="">
									
										<div class="info-box">
											<div class="money"><span>￥199</span>/小時</div>
											<div class="tip-box"><span>${data.project_grade_name}</span></div>
											<div class="max-time"><img src="" alt=""><span>接单时长:${data.length_time/60} min</span></div>
											<div class="audio-box xiaoshou">
                                                <img src="__IMG__icon-play.png" alt="" style="width: 22px;height: 22px" class="play">
                                                <span data-time="" id="audioTime">0</span><img src="__IMG__icon-auido.png" alt="">
                                            </div>
                                        </div>
                                            <audio  id="audio" src="${data.video_url}" ></audio>
                                        {if condition="$user_data.down == 2"}
										<a href="${wow}"><span class="submit-btn">立即下单</span></a>
                                        {else }
                                        <p class="submit-btn" style="background:#999999;">立即下单</p>
                                        {/if}
                                        `

								var explain = `<p>${data.explain}</p>`

                                $('.order-info').html(str)

                                $('.explain').html(explain)

                                var isPlay = false; // 播放器开关

                            function getaudioTime() {
                                setTimeout(function() { // 获取音频时间
                                    var audio =  document.querySelector('#audio')
                                    $('#audioTime').html(parseInt(audio.duration)).attr('data-time', parseInt(audio.duration))
                                },300)
                            }
                            getaudioTime();
                            $('.audio-box').unbind()
                            $('.audio-box').on('click', function() {
                                var audio =  document.querySelector('#audio')
                                var shen;
                                var timer;
                                clearInterval(timer)
                                timer = setInterval(function() { // 显示剩余时间
                                    shen = parseInt($('#audioTime').attr('data-time')) - audio.currentTime;
                                    shen = parseInt(shen)
                                    if (shen > 0) {
                                        $('#audioTime').html(shen)
                                    }else {
                                        clearInterval(timer)
                                        getaudioTime()
                                    }
                                }, 1000)


                                isPlay = !isPlay
                                if (isPlay) {
                                    $('.play').attr("src","__IMG__icon-play1.png");
                                    audio.play() // 点击播放音频
                                }else {
                                    $('.play').attr("src","__IMG__icon-play.png");
                                    audio.pause() //点击暂停音频
                                }
                            })


                            },'json')


							


						});
					</script>
					<script>
                        $(function() {
                            var isPlay = false; // 播放器开关

                            function getaudioTime() {
                                setTimeout(function() { // 获取音频时间
                                    var audio =  document.querySelector('#audio')
                                    $('#audioTime').html(parseInt(audio.duration)).attr('data-time', parseInt(audio.duration))
                                },300)
                            }
                            getaudioTime();

                            $('.audio-box').on('click', function() {
                                var audio =  document.querySelector('#audio')
                                var shen;
                                var timer;
                                clearInterval(timer)
                                timer = setInterval(function() { // 显示剩余时间
                                    shen = parseInt($('#audioTime').attr('data-time')) - audio.currentTime;
                                    shen = parseInt(shen)
                                    if (shen > 0) {
                                        $('#audioTime').html(shen)
                                    }else {
                                        clearInterval(timer)
                                        getaudioTime()
                                    }
                                }, 1000)


                                isPlay = !isPlay
                                if (isPlay) {
                                    $('.play').attr("src","__IMG__icon-play1.png");
                                    audio.play() // 点击播放音频
                                }else {
                                    $('.play').attr("src","__IMG__icon-play.png");
                                    audio.pause() //点击暂停音频
                                }
                            })
                        })
                    </script>
					<div class="about-user">
						<div class="title-user"><span>自我</span>介绍</div>
						<p class="explain">{$user_data.explain}~</p>
					</div>
					</div>
					<!-- 3.用户评价 -->
					<!-- 互动区 -->
					<div class="hudong user-eval">
						<!-- <div class="title-hudong"><span>互动区</span></div> -->
						<div class="title-user"><span>用户</span>评价</div>
						<!-- 互动列表 -->
						<div class="hudong-list">
						{foreach  name="comment_data"  item="v"}
						<!-- 一条 -->
						<div class="hudong-one-box"><img src="{$v.head_img}" alt="">
							<!-- 用户信息 -->
							<div class="user-info">
								<div class="user-name">{$v.nickname}</div>
								<div class="user-msg">{$v.content}</div>
								<div class="time">{:date('Y-m-d H:i:s',$v.time)}</div>
							</div>
							<!-- 右边 -->
							<div class="right-hudong">
								<div class="star-box">
									<img src="__IMG__ico_13.png" alt="星星">
									<img src="__IMG__ico_13.png" alt="星星">
									<img src="__IMG__ico_13.png" alt="星星">
									<img src="__IMG__ico_13.png" alt="星星">
									<img src="__IMG__ico_13.png" alt="星星">
								</div>
								<div class="bottom">
                                <!--
									<span>
										<img src="__IMG__icon-good.png" alt="点赞"  comment_id =""  onclick="comment('{$v.id}')" >{$v.zan}
									</span>
                                    -->
									<!--
									<span>
										<img src="images/png/icon-comm.png" alt="评论">0
									</span>
									-->
								</div>
							</div>
						</div>
						<!-- end -->
						{/foreach}
						
					</div>
					<script type="text/javascript">
				
						function comment(str){
							var id = str
							
							$.post("{:url('Index/zan_ajax')}",{id:id},function(data){
									if(data.code == 1){
										layui.use('layer',function(){
										layer.msg(data.msg)})
									}else{
										layui.use('layer',function(){
										layer.msg('失败')})
									}

							},'json')

						}
				
					</script>
						<!--
						<div class="page-cut">
							<div class="page-up">上一页</div>
							<div class="page-before">首页</div><span class="active">1</span><span>2</span><span>3</span><span>4</span><span>5</span><span>...</span>
							<div class="page-last">尾页</div>
							<div class="page-down">下一页</div>
						</div>
						-->
					</div>
					<!-- 互动end -->
				</div>
			</div>
		</div>
		<!-- 引入侧边栏 -->
		<!-- 引入页脚 -->
	</body>

</html>