{include file="public/header"}
{include file="public/sidebar"}

	<body style="background:#f3f3f3">
		<!-- 引入头部 -->
		<div class="main peiwan-info">
			<!-- 上面的用户信息 -->
			<div class="top-user-info">
				<!--头像-->
				<div class="pic-box">
				{if condition="empty($user_data['head_img'])"}
				<img src="__IMG__default.jpg" />
				{else /}
				<img src="{$user_data.head_img}" />
				{/if}
				{if condition="$user_data.status == 1" }
				<!--在线状态--><span>在线</span>
				{else /}
				<!--在线状态--><span>下线</span>
				{/if}

			</div>
				<!--用户信息-->
			<div class="user-info"><span>{$user_data.nickname}</span>
				<div class="user-id"><span>ID:{$user_data.uid}</span><span><i class="layui-icon layui-icon-fire"></i>{$user_data.hot}</span></div>
				<div class="tab">个性签名:<span>{$user_data.table}</span></div>
			</div>
				<!--礼物消息-->
				<div style="height: 140px; width: 45%;" id="gift" class="swiper-container">
					<div style="100% !important" class="gift-msg swiper-wrapper">
						<!--一条-->
						<div class="msg-box swiper-slide">
							<div class="msg"><span class="time">11:07</span><span class="body"><span>用户名字</span> 赠送给 陪玩师名字<span>1个棒棒糖 <img src="images/png/ea5cd4eeed76a59fac1f8184acc2c695.png"/></span></span>
							</div>
						</div>
						<!--一条-->
						<div class="msg-box swiper-slide">
							<div class="msg"><span class="time">11:07</span><span class="body"><span>用户名字</span> 赠送给 陪玩师名字<span>1个棒棒糖 <img src="images/png/ea5cd4eeed76a59fac1f8184acc2c695.png"/></span></span>
							</div>
						</div>
					</div>
				</div>
				<!--关注按钮-->
				<div class="follw-box">
					<div class="follow-btn" onclick="alert('正在施工 0.0  稍等哦')"><span>关注</span>未知</div>
					<div class="btm"><span>微信下单</span><span>分享</span></div>
				</div>
			</div>
			<!--页面下方的盒子-->
			<div class="bottom-box">
				<!-- 这里为左右结构 -->
				<!-- 左 -->

				<div class="left-box">
					<!-- 照片展示 -->
					{if condition="!empty($album_data)"}
				<div class="photo-show-box">
					<div class="photo-box"><img src="{$album_data[0]['img_url']}" alt="" class="photo-big"></div>
					<!-- 照片选择 -->
					<div class="photo-select">
						<!-- 左箭头 --><span class="jt-left"></span>
						<!-- 中间的可选项 -->
						<div class="middle-box">
							<div class="middle-img-box">
							{foreach name="album_data" item="v"}
							<img src="{$v.img_url}" alt="">
							{/foreach}
							</div>
						</div>
						<!-- 右箭头 --><span class="jt-right"></span></div>
				</div>
				{else /}
				<div class="photo-show-box">
					<div class="photo-box"><img src="__IMG__default.jpg" alt="" class="photo-big"></div>
					<!-- 照片选择 -->
					<div class="photo-select">
						<!-- 左箭头 --><span class="jt-left"></span>
						<!-- 中间的可选项 -->
						<div class="middle-box">
						
						<img src="__IMG__default.jpg" alt="">
						
						</div>
						<!-- 右箭头 --><span class="jt-right"></span></div>
				</div>
				{/if}
					<script type="text/javascript">
						var gitf = new Swiper('.swiper-container', {
							direction: 'vertical',
							slidesPerView: 2,
							loop: true,
							autoplay: {
								disableOnInteraction: false,
							}
						})

						$('.photo-box').on('click', 'img', function() {
							var $this = $(this);
							layui.use('layer', function() {
								layer.open({
									type: 1,
									title: false,
									content: '<img height=100% width=100% id="newMiva" src=""/>',
									scrollbar: false,
									resize: false,
									zIndex: 7489436491,
//									btn: ['确认'],
									area: ['800px', '800px'],
									success: function(layero, index) {
										imgbox = layero.find("#newMiva");
										imgbox.attr('src', $this.prop('src'));
									}
								})
							})
						})
					</script>
					
					<script type="text/javascript">
						$(function() {
							var nowNum = 0; // 当前预览图位置

							$('.photo-select').on('mouseover', 'img', function() {
								$('.photo-big').prop('src', $(this).prop('src'))
							})

							$('.photo-select').on('click', 'span', function() {
								var mBox = $('.middle-img-box');
								var className = $(this).prop('class');
								var maxNum = mBox.children('img').length;
								var transform = 'transform';

								if(className == 'jt-left' && nowNum < 0) {
									nowNum++
								}
								if(className == 'jt-right' && nowNum > -maxNum + 5) {
									nowNum--
								}

								if(!support_css3('transform')) transform = '-webkit-transform';

								mBox.css(transform, 'translateX(' + 84 * nowNum + 'px)')
							})

							/**
							 * @description 判断css兼容性头缀
							 * @example 'var xx = support_css3(xxx)'
							 * @return {[bollean]}
							 */
							var support_css3 = (function() {
								var div = document.createElement('div'),
									vendors = 'Ms,O,Moz,Webkit'.split(','),
									len = vendors.length;

								return function(prop) {
									if(prop in div.style) return true;

									prop = prop.replace(/^[a-z]/, function(val) {
										return val.toLowerCase();
									});

									while(len--) {
										if(vendors[len] + prop in div.style) {
											return true;
										}
									}
									return false;
								};
							})();

						});
					</script>
					<!-- 照片展示end -->
					<!-- 礼物盒子 -->
					<div class="gift-box">
					<!-- 标签页 -->
					<div class="tab"><span class="active"><img src="" alt="">礼物</span><!--<span class=""><img src="" alt="">冠军</span>--></div>
					<!-- 箱子 -->
					<div class="box">
						{foreach  name="gift_data" item="v" }
						<img src="{$v.img_url}" alt="{$v.name},{$v.pice}鸟蛋" gift_id="{$v.id}" class="xiaoshou">
						{/foreach}
					</div>
				</div>
				<script>
						//送礼Ajax
					$(function(){
						$('.xiaoshou').click(function(){
							var gift_id = $(this).attr('gift_id') 
							var acc_id = {$user_data.uid}; 

							$.post("{:url('Index/giving_gifts')}",{gift_id:gift_id,acc_id:acc_id},function(data){
									if(data.code == 1){
										window.location.href="{:url('Index/index',['qingnidenglu' => 1])}"
									}else if(data.code == 2){
										layui.use('layer',function(){
										layer.msg(data.msg)})
									}else if(data.code == 3){
										layui.use('layer',function(){
										layer.msg(data.msg)})
									}else if(data.code == 4){
										layui.use('layer',function(){
										layer.msg(data.msg)})
									}else{
										layui.use('layer',function(){
										layer.msg('未知错误')})
									}

							},'json')

						})
					})
				</script>
					<!-- 礼物盒子end -->
					<!-- 个人资料 -->
					<div class="user-info-box">
					<div class="title-box"><img src="__IMG__user-title-1.png" alt="" class="bg">
						<span>个人资料<img src="" alt=""></span>
					</div>
					<!-- 详细资料 -->
					<div class="user-info">
						<div class="one"><img src="images/png/data_01.png" alt=""> 年龄 : <span>{$user_data.age}岁</span></div>
						<div class="one"><img src="images/png/data_01.png" alt=""> 身高 : <span>{$user_data.height} cm</span></div>
						<div class="one"><img src="images/png/data_02.png" alt=""> 体重 : <span>{$user_data.weight} 觔</span></div>
						<div class="one"><img src="images/png/data_03.png" alt=""> 职业 : <span>{$user_data.hobby}</span></div>
						<div class="one"><img src="images/png/data_04.png" alt=""> 兴趣爱好 : <span>{$user_data.duty}</span></div>
						<div class="one"><img src="images/png/data_05.png" alt=""> 心里的话 : <span>{$user_data.table}</span></div>
					</div>
				</div>
					<!-- 个人资料end -->
				</div>
				<!-- 右 上中下三层结构 -->
				<div class="right-box">
					<!-- 1.礼物 分上下两层 -->
					<div class="gift-box">
					<div class="top-box-gift">
						<div><img src="__IMG__abb6deef23da7d552e54e1d035d1c91c.png" alt="">守护榜</div>
			
						{if condition="empty($sort_data[0])"}
							

							<div>
		
								<img class="have-corwm" src="__IMG__crowm.png" alt="">
								<img class="user-pic one" src="__IMG__empty.jpg" alt="">
																								
								<div>
									<img src="__IMG__icon2.gif" alt="">
								</div>
							</div>
						{else /}
							<div>
								{if condition="$sort_data[0]['head_img'] == ''"}
								<img class="have-corwm" src="__IMG__crowm.png" alt="">
								<img class="user-pic one" src="__IMG__default.jpg" alt="">
								{else /}
								<img class="have-corwm" src="__IMG__crowm.png" alt="">
								<img class="user-pic one" src="{$sort_data[0]['head_img']}" alt="">
								{/if}
									
									
								<div>
									<img src="__IMG__icon2.gif" alt="">{$sort_data[0]['egg_num']}
								</div>
							</div>
						{/if}

						{if condition="empty($sort_data[1])"}
							<div>
		
								<img class="have-corwm" src="__IMG__crowm.png" alt="">
								<img class="user-pic tow" src="__IMG__empty.jpg" alt="">
																								
								<div>
									<img src="__IMG__icon2.gif" alt="">
								</div>
							</div>
						{else /}
							<div>
								{if condition="$sort_data[1]['head_img'] == ''"}
								<img class="have-corwm" src="__IMG__crowm.png" alt="">
								<img class="user-pic tow" src="__IMG__default.jpg" alt="">
								{else /}
								<img class="have-corwm" src="__IMG__crowm.png" alt="">
								<img class="user-pic tow" src="{$sort_data[1]['head_img']}" alt="">
								{/if}
									
									
								<div>
									<img src="__IMG__icon2.gif" alt="">{$sort_data[1]['egg_num']}
								</div>
							</div>
						{/if}

						{if condition="empty($sort_data[2])"}
							<div>
		
								<img class="have-corwm" src="__IMG__crowm.png" alt="">
								<img class="user-pic three" src="__IMG__empty.jpg" alt="">
																								
								<div>
									<img src="__IMG__icon2.gif" alt="">
								</div>
							</div>
						{else /}
							<div>
								{if condition="$sort_data[2]['head_img'] == ''"}
								<img class="have-corwm" src="__IMG__crowm.png" alt="">
								<img class="user-pic three" src="__IMG__default.jpg" alt="">
								{else /}
								<img class="have-corwm" src="__IMG__crowm.png" alt="">
								<img class="user-pic three" src="{$sort_data[2]['head_img']}" alt="">
								{/if}
									
									
								<div>
									<img src="__IMG__icon2.gif" alt="">{$sort_data[2]['egg_num']}
								</div>
							</div>
						{/if}

						{if condition="empty($sort_data[3])"}
							<div>
		
							
								<img class="user-pic" src="__IMG__empty.jpg" alt="">
																								
								<div>
									<img src="__IMG__icon2.gif" alt="">
								</div>
							</div>
						{else /}
							<div>
								{if condition="$sort_data[3]['head_img'] == ''"}
							
								<img class="user-pic" src="__IMG__default.jpg" alt="">
								{else /}
								
								<img class="user-pic" src="{$sort_data[3]['head_img']}" alt="">
								{/if}
									
									
								<div>
									<img src="__IMG__icon2.gif" alt="">{$sort_data[3]['egg_num']}
								</div>
							</div>
						{/if}

						{if condition="empty($sort_data[4])"}
							<div>
		
								
								<img class="user-pic" src="__IMG__empty.jpg" alt="">
																								
								<div>
									<img src="__IMG__icon2.gif" alt="">
								</div>
							</div>
						{else /}
							<div>
								{if condition="$sort_data[4]['head_img'] == ''"}
								
								<img class="user-pic" src="__IMG__default.jpg" alt="">
								{else /}
								
								<img class="user-pic" src="{$sort_data[4]['head_img']}" alt="">
								{/if}
									
									
								<div>
									<img src="__IMG__icon2.gif" alt="">{$sort_data[4]['egg_num']}
								</div>
							</div>
						{/if}

						{if condition="empty($sort_data[5])"}
							<div>
		
								
								<img class="user-pic" src="__IMG__empty.jpg" alt="">
																								
								<div>
									<img src="__IMG__icon2.gif" alt="">
								</div>
							</div>
						{else /}
							<div>
								{if condition="$sort_data[5]['head_img'] == ''"}
								
								<img class="user-pic" src="__IMG__default.jpg" alt="">
								{else /}
								
								<img class="user-pic" src="{$sort_data[5]['head_img']}" alt="">
								{/if}
									
									
								<div>
									<img src="__IMG__icon2.gif" alt="">{$sort_data[5]['egg_num']}
								</div>
							</div>
						{/if}
					</div>
					<div class="bottom-box-gift">
						<div><img src="images/png/user-info-icon1.png" alt=""><span class="title-bottom-gift">我的礼物</span></div>
						{foreach name="sort_gift" item="v"}
						<div><img src="{$v.img_url}"><span>{$v.num}</span></div>
						{/foreach}
						
					</div>
				</div>
					<!-- 2.游戏介绍 下单 -->
					<div class="game-info-box">
					<!-- 1.标签页形式的标题 -->
					<div class="tab-title"><span class="active">{$service_data.name}</span></div>
					<!-- 2.单子的详细内容 -->
					<div class="order-info">
						{if condition="isset($service_data.game_logo_img)"}
						<img src="{$service_data.game_index_img}" alt="">
						{else /}
						<img class="user-pic one" src="__IMGS__php.jpg" alt="">
						{/if}
						<div class="info-box">
							<div class="money"><span>￥ {$user_data.pice}</span>/小時</div>
							<div class="tip-box"><span>{$user_data.table}</span></div>
							<div class="max-time"><img src="" alt=""><span>接单时长:{$user_data.acc_time/60} min</span></div>
							<div class="audio-box"><img src="__IMG__icon-play.png" alt=""><span>0 S</span><audio src="" style="display:none"></audio><img src="__IMG__icon-auido.png" alt=""></div>
						</div><a href="{:url('Order/index',['id' => $user_data['uid']])}"><span class="submit-btn">立即下单</span></a></div>
					
						<!-- 3.陪玩师自我介绍 -->
						<div class="about-user">
							<div class="title-user"><span>自我</span>介绍</div>
							<p>{$user_data.explain}~</p>
						</div>
					</div>
					<!-- 3.用户评价 -->
					<!-- 互动区 -->
					<div class="hudong user-eval">
						<!-- <div class="title-hudong"><span>互动区</span></div> -->
						<div class="title-user"><span>用户</span>评价</div>
						<!-- 互动列表 -->
						<div class="hudong-list">
						{foreach  name="comment_data"  item="v"}
						<!-- 一条 -->
						<div class="hudong-one-box"><img src="{$v.head_img}" alt="">
							<!-- 用户信息 -->
							<div class="user-info">
								<div class="user-name">{$v.nickname}</div>
								<div class="user-msg">{$v.content}</div>
								<div class="time">{:date('Y-m-d H:i:s',$v.time)}</div>
							</div>
							<!-- 右边 -->
							<div class="right-hudong">
								<div class="star-box">
									<img src="__IMG__ico_13.png" alt="星星">
									<img src="__IMG__ico_13.png" alt="星星">
									<img src="__IMG__ico_13.png" alt="星星">
									<img src="__IMG__ico_13.png" alt="星星">
									<img src="__IMG__ico_13.png" alt="星星">
								</div>
								<div class="bottom">
									<span>
										<img src="__IMG__icon-good.png" alt="点赞"  comment_id =""  onclick="comment({$v.id})" >{$v.zan}
									</span>
									<!--
									<span>
										<img src="images/png/icon-comm.png" alt="评论">0
									</span>
									-->
								</div>
							</div>
						</div>
						<!-- end -->
						{/foreach}
						
					</div>
					<script type="text/javascript">
				
						function comment(str){
							var id = str
							
							$.post("{:url('Index/zan_ajax')}",{id:id},function(data){
									if(data.code == 1){
										layui.use('layer',function(){
										layer.msg(data.msg)})
									}else{
										layui.use('layer',function(){
										layer.msg('失败')})
									}

							},'json')

						}
				
					</script>
						<!--
						<div class="page-cut">
							<div class="page-up">上一页</div>
							<div class="page-before">首页</div><span class="active">1</span><span>2</span><span>3</span><span>4</span><span>5</span><span>...</span>
							<div class="page-last">尾页</div>
							<div class="page-down">下一页</div>
						</div>
						-->
					</div>
					<!-- 互动end -->
				</div>
			</div>
		</div>
		<!-- 引入侧边栏 -->
		<!-- 引入页脚 -->
	</body>

</html>