{include file="public/header"}
<link href="__ADMIN__lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" />
{include file="public/sidebar"}

<body>
<div class="page-container">
	<form class="form form-horizontal" id="form-article-add" enctype="multipart/form-data" action="#"  method="post">
	
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>真实姓名：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$apply_data.real_name}" disabled >
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>个性签名：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$apply_data.table}" disabled>
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>省份：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$apply_data.province}" disabled>
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>城市：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$apply_data.city}" disabled>
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>详细住址</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$apply_data.address}" disabled>
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>身高</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$apply_data.height}cm" disabled>
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>体重</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$apply_data.weight}斤" disabled>
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>职业</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$apply_data.duty}" disabled >
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>爱好</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$apply_data.hobby}" disabled>
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>性感部位</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$apply_data.sexy}" disabled>
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>线上/线下</label>
			<div class="formControls col-xs-8 col-sm-9">
				{switch name="$apply_data.acc_type"}
					{case value="0"}<input type="text" class="input-text" value="未知" disabled>{/case}
					{case value="1"}<input type="text" class="input-text" value="线上" disabled>{/case}
					{case value="2"}<input type="text" class="input-text" value="线下" disabled>{/case}
					{case value="3"}<input type="text" class="input-text" value="都可以" disabled>{/case}				
				{/switch}
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>服务项目</label>
			<div class="formControls col-xs-8 col-sm-9">
				{if condition="$apply_data.acc_type == 1"}
				<input type="text" class="input-text" value="游戏项目" disabled >
				{else /}
				<input type="text" class="input-text" value="娱乐项目" disabled >
				{/if}
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>服务内容</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$apply_data.project_name.name}" disabled >
			</div>
		</div>

		
			
		
	
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i>提交</button>
			</div>
		</div>
	</form>

</div>
</div>
<!--_footer 作为公共模版分离出去-->
{include file="public/footer"}
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->


</body>
</html>