{include file="public/header"}
<link href="__ADMIN__lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" />
{include file="public/sidebar"}

<body>
<div class="page-container">
	<form class="form form-horizontal" id="form-article-add" enctype="multipart/form-data" >
		<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>陪玩师头像：</label>
		<div class="row cl"  style="margin-left:200px;">

			<img style="width:200px" id="pic-one" src="{$acc_data.head_img}" alt="">
			<a href="{:url('Acc/album',['id' => $acc_data.uid])}">查看个人相册</a>
			

			<a href="{:url('Acc/apply',['id' => $acc_data.uid])}"  style="margin-left:50px;">查看入驻详情</a>
		</div>
		
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>昵称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$acc_data.nickname}" disabled >
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>真实姓名</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$acc_data.real_name}" disabled >
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>年龄</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$acc_data.age}" disabled >
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>性别</label>
			<div class="formControls col-xs-8 col-sm-9">
			{if condition="$acc_data.sex == 1"}
				<input type="text" class="input-text" value="男" disabled >
			{else /}
				<input type="text" class="input-text" value="女" disabled >
			{/if}
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>个性签名</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$acc_data.table}" placeholder="游戏全名。" name="name" disabled>
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>是否实名？</label>
			<div class="formControls col-xs-8 col-sm-9">
			{if condition="$acc_data.real == 3"}
				<input type="text" class="input-text" value="已实名" disabled>
			{else /}
				<input type="text" class="input-text" value="未实名/未通过实名审核" disabled>
			{/if}
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>手机号</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$acc_data.account}" disabled>
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>QQ号</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$acc_data.penguin}" disabled >
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>陪玩师折扣</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$acc_data.discount}" style="widht:200px;" name="discount">
			</div>
		</div>
		<a style="margin-left:300px" id="discount" >修改折扣</a>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>订单金额兑换余额比例</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$acc_data.convertible}" name="convertible">
			</div>
		</div>
		<a style="margin-left:300px" id="convertible" >修改比例</a>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>礼物金额兑换余额比例</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$acc_data.gift_exchange}" name="gift_exchange">
			</div>
		</div>
		<a style="margin-left:300px" id="gift_exchange" >修改比例</a>


	
		
		
		
		
	
		
	</form>

</div>
</div>
<!--_footer 作为公共模版分离出去-->
{include file="public/footer"}
<!--/_footer /作为公共模版分离出去-->
<script>
	$(function(){
		$('#discount').click(function(){
			var id = {$acc_data.uid}
			
			var discount = $('[name ="discount"]').val()
			if(discount == {$acc_data.discount}){
				alert('请做出修改')
				return false
			}
			
			$.post("{:url('Acc/edit_ajax')}",{discount:discount,id:id},function(data){
					if(data.code == 1){
						alert(data.msg)
						window.location.reload()
					}else if(data.code == 2){
						alert(data.msg)
					}else if(data.code == 3){
						alert(data.msg)
					}
			},'json')
			return false
		})

		$('#convertible').click(function(){
			var id = {$acc_data.uid}
			
			var convertible = $('[name ="convertible"]').val()
			if(convertible == {$acc_data.convertible}){
				alert('请做出修改')
				return false
			}
			
			$.post("{:url('Acc/edit_ajax')}",{convertible:convertible,id:id},function(data){
					if(data.code == 1){
						alert(data.msg)
						window.location.reload()
					}else if(data.code == 2){
						alert(data.msg)
					}else if(data.code == 3){
						alert(data.msg)
					}
			},'json')
			return false
		})

		$('#gift_exchange').click(function(){
			var id = {$acc_data.uid}
			
			var gift_exchange = $('[name ="gift_exchange"]').val()
			if(gift_exchange == {$acc_data.gift_exchange}){
				alert('请做出修改')
				return false
			}
			
			$.post("{:url('Acc/edit_ajax')}",{gift_exchange:gift_exchange,id:id},function(data){
					if(data.code == 1){
						alert(data.msg)
						window.location.reload()
					}else if(data.code == 2){
						alert(data.msg)
					}else if(data.code == 3){
						alert(data.msg)
					}
			},'json')
			return false
		})
	})

</script>


</body>
</html>