<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" type="text/css" href="__INDEX__css/common.css" />
		<link rel="stylesheet" type="text/css" href="__INDEX__layui/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="__INDEX__layui/css/modules/code.css" />
		<link rel="stylesheet" type="text/css" href="__INDEX__layui/css/modules/laydate/default/laydate.css" />
		<link rel="stylesheet" type="text/css" href="__INDEX__layui/css/modules/layer/default/layer.css" />

		
		<script src="__INDEX__js/jquery-3.3.1.js" type="text/javascript" charset="utf-8"></script>
		<script src="__INDEX__layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<!--<script src="js/mivaJoin.js" charset="utf-8"></script>-->
		<title>登录</title>
		
	</head>

	<body style="min-width: 100%;background: #FBC94C ;">
		<div class="login-main">
			<div class="login-box-miva">
				<div class="login-title">
					<span class="active">登录</span> |
					<span class="">注册</span>
				</div>
				
				<!--************************************************************-->
				<div style="display: none;" class="login-title re-pwd-title">
					<span class="active">← 返回登录界面</span>
				</div>
				<!--************************************************************-->

				<form data-item="loginFrom" class="login-form" action="{:url('Login/login')}" method="post">
					<input type="text" name="account" value="" placeholder="手机号/邮箱" />
					<input type="password" name="password" value="" placeholder="密码" />

					
					<input type="text"  placeholder="请输入验证码"  name="captcha_code" style="width:50%;" >
					<img src="{:url('Login/captcha_code')}?"onclick="this.src=this.src+Math.random()"  style="widht:130px;height:50px;" id="miva">
					<!--<a id="kanbuq" href="javascript:;">看不清，换一张</a>-->
					<input type="submit" value="登录" />
					<label for="remember-me"><!--<input type="checkbox" name="" id="remember-me" value="" />下次自动登录--></label>
					<span class="re-pwd">忘记密码</span>
				</form>
				
					
				<form  data-item="regFrom" class="reg-form" action="{:url('Login/register')}" method="post">
					<div class="phone-box">
						<span class="">+86</span>
						<input type="text" name="phone" value="" placeholder="手机号" />
					</div>
					<div class="yanzheng">
						<input type="text" name="code" value="" placeholder="验证码" />
						<button class="button">发送验证码</button>
					</div>
					<div>
						<input type="password" data-item=pwd name="password" id="" value="" placeholder="输入密码" />
						<span class=""></span>
					</div>
					<div>
						<input type="password" data-item=repeat name="repeat" id="" value="" placeholder="再次输入密码" />
						<span class=""></span>
					</div>
					<label for="agreement"><input type="checkbox" name="" id="agreement" checked="true" value="" />我已阅读 <a href="">《用户协议》</a></label>
					<br/>
					<input type="submit" class="register" value="注册" />
				</form>
				
				<!--************************************************************-->
				<form style="display: none;" data-item="reFrom" class="re-pwd-box reg-form"  action="{:url('Login/forget')}" method="post">
					<div class="phone-box">
						<span class="">+86</span>
						<input type="text" name="call" value="" placeholder="手机号" />
					</div>
					<div class="yanzheng">
						<input type="text" name="forget_code" value="" placeholder="验证码" />
						<button class="send"  send="forget"><span style="display: none;">0</span>发送验证码</button>
					</div>
					<div>
						<input type="password" name="forget_password" id="" value="" placeholder="6-20位字母/数字/符号至少两种" />
					</div>
					<div>
						<input type="password" name="forget_repeat" id="" value="" placeholder="请再次输入密码" />
						<span class="succe" style="color:red;">&nbsp;</span>
					</div>
					<input type="submit" value="重置密码" reset-pwd="click" />
				</form>
				<!--************************************************************-->
				<!--
				<div class="other-login">
					<div class="other-title">社交帐号登录</div>
					<div class="other-box">
						<a href=""><img src="" alt="QQ" /></a>
						<a href=""><img src="" alt="WX" /></a>
						<a href=""><img src="" alt="WB" /></a>
					</div>
				</div>
				-->
			</div>
			<script type="text/javascript">
			
			$(function() {
				var login = $('[data-item="loginFrom"]');
				var reg = $('[data-item="regFrom"]');
				var rePwd = $('[data-item="reFrom"]');
				var loginTitle = $('.login-title');
				var rePwdTitle = $('.re-pwd-title');

				$('.login-title').on('click', 'span', function() {
					$(this).addClass('active').siblings().removeClass('active');
					if($(this).html() == "注册") {
						login.hide();
						reg.show();
					} else if($(this).html() == "登录") {
						reg.hide();
						login.show();
					} else if($(this).html() == "← 返回登录界面") {
						login.show();
						loginTitle.show();
						rePwd.hide();
						rePwdTitle.hide();
						$('.other-login').show();
					}
				});

				$('.re-pwd').on('click', function() {
					login.hide();
					reg.hide();
					loginTitle.hide();
					rePwd.show();
					rePwdTitle.show();
					$('.other-login').hide()
				});
			});
			
		</script>
		</div>
	</body>

</html>