{include file="public/header"}
<link href="__ADMIN__lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" />
{include file="public/sidebar"}

<body>
<div class="page-container">
	<form class="form form-horizontal" id="form-article-add" enctype="multipart/form-data" action="#"  method="post">
	
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>娱乐名：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="娱乐项目全名。" name="name">
			</div>
		</div>
			
		<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>娱乐项目LOGO</label>：
		<div class="row cl"  style="margin-left:200px;">

			<img style="width:200px" id="pic-one" src="" alt="">
			<input id="miva" type="file"  name="cover">
		
		</div>
		
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i>提交</button>
			</div>
		</div>
	</form>

</div>
</div>
<!--_footer 作为公共模版分离出去-->
{include file="public/footer"}
<!--/_footer /作为公共模版分离出去-->


<!--请在下方写此页面业务相关的脚本-->
<script>
	$('#miva').on('change',function(){
		var file = document.querySelector('#miva').files[0];

		var newfile = new FileReader();
		newfile.readAsDataURL(file,"UTF-8");

		newfile.onload = function () {
			$('#pic-one').attr('src',newfile.result);
		}
	})

</script>

</body>
</html>