{include file="public/header"}
{include file="public/sidebar"}

<style>
	.icon-active > img {
		-webkit-transform: translateY(<?php  echo intval(-61*0.6) ?>px);
		transform: translateY(<?php  echo intval(-61*0.6) ?>px);
	}
	.icon-active > img:hover {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
	.txt-active > .miva-txt {
		color: #f5b105
	}
	a > * {
		cursor: pointer;
	}
</style>
	<style media="screen">
			.miva-rank-box .miva-rank-items .rank-last li > img {
				width: 50px;
				height: 50px;
			}
			.miva-rank-box .miva-rank-items .miva-rank-title .miva-rank-txt {
				top: 5px
			}
		</style>

	<body>
		<!-- 引入头部 -->
		<div class="main">
			<!-- 选择分类 -->
			<div class="miva-acc-tab-box">
				<table>
					<tr>
						<td class="miva-acc-title">游戏类型</td>
						<td>
							<!-- 一条 -->
							{foreach name="game_data" item="v"}
							<a>
								<div class="miva-iocn-box {if condition=" $game_id eq $v.id"}icon-active{/if}" project="1"  project_id="{$v.id}" dawdawdawd>
								{if condition="$v.game_logo_img == ''"}
									<img src="__IMG__default.jpg" alt="1">
								{else /}
									<img src="{$v.game_logo_img}" alt="">
								{/if}
								</div>
								<span {if condition=" $game_id eq $v.id"}style="color:#f5b105"{/if}>{$v.name}</span>
							</a>
							{/foreach}
							
							<!-- end -->

						</td>
					</tr>

					<tr>
						<td class="miva-acc-title">娱乐项目</td>
						<td>
							<!-- 一条 -->
							{foreach name="joy_data" item="v"}
							<a>
								<div class="miva-iocn-box"  project="2"  project_id="{$v.id}">
								{if condition="$v.joy_logo_img == ''"}
									<img src="__IMG__default.jpg" alt="">
								{else /}
									<img src="{$v.joy_logo_img}" alt="">
								{/if}
								</div>
								<span>{$v.name}</span>
							</a>
							{/foreach}
							<!-- end -->

						</td>
					</tr>
					<tr>
						<td class="miva-acc-title">选择等级</td>
						<td data-item="lv" class="graed">
							<a porjectLv="0" class="miva-txt-box txt-active">
								<div class="miva-txt" alt="1">不限</div>
							</a>
							
						</td>
					</tr>
					<tr>
						<td class="miva-acc-title">陪玩性别</td>
						<td>
							<a sex="0" class="miva-txt-box txt-active">
								<div class="miva-txt">不限</div>
							</a>
							<a sex="1" class="miva-txt-box">
								<div class="miva-txt">小鲜肉</div>
							</a>
							<a sex="2" class="miva-txt-box">
								<div class="miva-txt">小仙女</div>
							</a>
						</td>
					</tr>
				</table>
			</div>
	
			<!-- 筛选 -->
			<style>
			.screen-btn-active {
				background: #f5b105;
				color: #fff !important;
			}
			.btn-admin-act {
				background: transparent!important; 
				color: #f5b105 !important; 
			}
			</style>
			<div class="miva-screen-box">
				<div class="miva-screen-btn-admin" cheap="1" data-item="shaiBtn" >
					<img src="__IMG__shaixuan.png" style="width: 20px;vertical-align: bottom;" alt="">
 综合筛选
				</div>
				<div class="miva-screen-btn" cheap="2" data-item="shaiBtn">魅力</div>
				<div class="miva-screen-btn" cheap="3" data-item="shaiBtn">价格</div>
				{if condition="isset($_SESSION['think']['wb_id'])"}
					<div class="miva-screen-btn" cheap="4" data-item="shaiBtn">线下</div>
				{/if}
			</div>

			<!-- 陪玩列表 -->
			<div class="">
				<ul class="miva-screen-list miva-star-box">
					<!-- 一条 -->
					{foreach name="acc_data" item="v"}
					<li>
						<a href="{:url('Index/user',['id' => $v.uid])}" class="miva-star-items">
							<div class="miva-star-tip">接单中</div>
							<div class="miva-star-pic">
								{if condition="$v.head_img == ''"}
									<img src="__IMG__default.jpg" />
								{else /}
									<img src="{$v.head_img.'!syph'}" />
								{/if}
							</div>
		
							<div style=" padding: 5px 10px;" class="layui-fluid miva-star-info">
							  <div class="layui-row">
								<div class="layui-col-xs7 layui-col-sm7">
							      	{$v.nickname}
							    </div>
							    <div class="layui-col-xs4 layui-col-sm4 layui-col-xs-offset1 layui-col-sm1 tab tab-win">
							      {$v.city}
							    </div>
								<div class="layui-col-xs4 layui-col-sm4">
									<img src="__IMG__火.png" alt="图标">
									<span>{$v.hot}</span>
								</div>
								{if condition="$v.pice == 8"}
								<div class="layui-col-xs5 layui-col-sm5 layui-col-md-offset3 star-price">￥{$v.pice}/局</div>
								{else /}
								<div class="layui-col-xs5 layui-col-sm5 layui-col-md-offset3 star-price">￥{$v.pice}/小时</div>
								{/if}
							  </div>
							</div>
						</a>
					</li>
					{/foreach}
					<!-- end -->
				</ul>

				<!--这里写排行榜-->
				<div class="miva-rank-box" style="width:300px;display:inline-block; vertical-align: top;">
					<!--一个榜-->
					<div style="width:100%;margin-left: 20px; margin-bottom: 30px;" class="miva-rank-items">
						<!--排行榜标题-->
						<div class="miva-rank-title"><img src="__IMG__title_01-03.gif" />
							<div class="miva-rank-txt"><img src="__IMG__太阳.gif" /><span>大神榜</span></div>
							<!--tab-->
							<div class="tab-rank"><span class="active" data-total='1_1' data-rank="1">周榜</span><span data-total='1_2' data-rank="2">总榜</span></div>
						</div>
						<!--前三名-->
						<div data-num=1  class="dashen">
							<div  data-item="1_1" class="one"  style="">
								<div class="top-three layui-fluid">
									<div class="layui-row">
										
										{foreach name="okami_day_data"  item="v"  key="k"}
											{if condition="2>=$k"}
												<div class="{if condition='$k == 0'}the-first layui-col-xs12{else \ } layui-col-xs6{/if}">
													<!--头像框?-->
													<a href="{:url('Index/user' , ['id' => $v['uid']])}">
														<div class="pic-box">
															{switch name="$k"}
															{case value="0" }<img src="__IMG__crown_01.gif" style="width:100%" />{/case}
															{case value="1" }<img src="__IMG__crown.gif" />{/case}
															{case value="2" }<img src="__IMG__首页-恢复的_18.gif" />{/case}
															{/switch}
															<img class="pic" src="{$v.head_img}" />
														</div>
													</a>
													<!--用户名字-->
													<div class="u-name">{$v.nickname}
														{switch name="$v.level"}
														{case value="1"}<img src="__IMG__biao1.gif" alt="" />{/case}
														{case value="2"}<img src="__IMG__icon1-4.gif" alt="" />{/case}
														{case value="3"}<img src="__IMG__icon1-5.gif" alt="" />{/case}
														{case value="4"}<img src="__IMG__icon-6.gif" alt="" />{/case}
														{case value="5"}<img src="__IMG__icon1-7.gif" alt="" />{/case}
														{case value="6"}<img src="__IMG__icon1-8_01.gif" alt="" />{/case}
														{case value="7"}<img src="__IMG__icon1-9.gif" alt="" />{/case}
														{case value="8"}<img src="__IMG__icon1-10.gif" alt="" />{/case}
														{default /}<img src="__IMG__icon1-0.gif" alt="" />
														{/switch}
														<!--用户分数-->
														<div class="score-box"><img src="__IMG__lihai.png"/><span class="score-txt">{$v.up_order_week}</span></div>
													</div>
												</div>
											{/if}
										{/foreach}

									</div>
								</div>
								<!-- 后N名 -->
								<ul class="rank-last">
									{foreach name="okami_day_data" item="v" key="k"}
										{if condition="$k>=3"}
											<!-- 一条 -->
											<a href="{:url('Index/user' , ['id' => $v['uid']])}">
												<li>
													<!-- 排名 --><span>{$k+1}</span>
													<!-- 用户头像 --><img src="{$v.head_img}" alt="">
													<!-- 用户信息 -->
													<div class="user-info">
														<div class="u-name">{$v.nickname}</div>
														{switch name="$v.level"}
														{case value="1"}<img src="__IMG__biao1.gif" alt="" />{/case}
														{case value="2"}<img src="__IMG__icon1-4.gif" alt="" />{/case}
														{case value="3"}<img src="__IMG__icon1-5.gif" alt="" />{/case}
														{case value="4"}<img src="__IMG__icon-6.gif" alt="" />{/case}
														{case value="5"}<img src="__IMG__icon1-7.gif" alt="" />{/case}
														{case value="6"}<img src="__IMG__icon1-8_01.gif" alt="" />{/case}
														{case value="7"}<img src="__IMG__icon1-9.gif" alt="" />{/case}
														{case value="8"}<img src="__IMG__icon1-10.gif" alt="" />{/case}
														{default /}<img src="__IMG__icon1-0.gif" alt="" />
														{/switch}
													</div>
													<!-- 得分数值 -->
													<div class="score-box">大神指数: <span>{$v.up_order_week}</span></div>
												</li>
											</a>
										{/if}
									{/foreach}
									<!-- end -->
									
									<!-- =============== -->
								</ul>
							</div>

							<div  data-item="1_2" class="one"  style="display:none">
								<div class="top-three layui-fluid">
									<div class="layui-row">
										
										{foreach name="okami_data"  item="v"  key="k"}
											{if condition="2>=$k"}
												<div class="{if condition='$k == 0'}the-first layui-col-xs12{else \ } layui-col-xs6{/if}">
													<!--头像框?-->
													<a href="{:url('Index/user' , ['id' => $v['uid']])}">
														<div class="pic-box">
															{switch name="$k"}
															{case value="0" }<img src="__IMG__crown_01.gif" style="width:100%" />{/case}
															{case value="1" }<img src="__IMG__crown.gif" />{/case}
															{case value="2" }<img src="__IMG__首页-恢复的_18.gif" />{/case}
															{/switch}
															<img class="pic" src="{$v.head_img}" />
														</div>
													</a>
													<!--用户名字-->
													<div class="u-name">{$v.nickname}
														{switch name="$v.level"}
														{case value="1"}<img src="__IMG__biao1.gif" alt="" />{/case}
														{case value="2"}<img src="__IMG__icon1-4.gif" alt="" />{/case}
														{case value="3"}<img src="__IMG__icon1-5.gif" alt="" />{/case}
														{case value="4"}<img src="__IMG__icon-6.gif" alt="" />{/case}
														{case value="5"}<img src="__IMG__icon1-7.gif" alt="" />{/case}
														{case value="6"}<img src="__IMG__icon1-8_01.gif" alt="" />{/case}
														{case value="7"}<img src="__IMG__icon1-9.gif" alt="" />{/case}
														{case value="8"}<img src="__IMG__icon1-10.gif" alt="" />{/case}
														{default /}<img src="__IMG__icon1-0.gif" alt="" />
														{/switch}
														<!--用户分数-->
														<div class="score-box"><img src="__IMG__lihai.png"/><span class="score-txt">{$v.up_order}</span></div>
													</div>
												</div>
											{/if}
										{/foreach}

									</div>
								</div>
								<!-- 后N名 -->
								<ul class="rank-last">
									{foreach name="okami_data" item="v" key="k"}
										{if condition="$k>=3"}
											<!-- 一条 -->
											<a href="{:url('Index/user' , ['id' => $v['uid']])}">
												<li>
													<!-- 排名 --><span>{$k+1}</span>
													<!-- 用户头像 --><img src="{$v.head_img}" alt="">
													<!-- 用户信息 -->
													<div class="user-info">
														<div class="u-name">{$v.nickname}</div>
														{switch name="$v.level"}
														{case value="1"}<img src="__IMG__biao1.gif" alt="" />{/case}
														{case value="2"}<img src="__IMG__icon1-4.gif" alt="" />{/case}
														{case value="3"}<img src="__IMG__icon1-5.gif" alt="" />{/case}
														{case value="4"}<img src="__IMG__icon-6.gif" alt="" />{/case}
														{case value="5"}<img src="__IMG__icon1-7.gif" alt="" />{/case}
														{case value="6"}<img src="__IMG__icon1-8_01.gif" alt="" />{/case}
														{case value="7"}<img src="__IMG__icon1-9.gif" alt="" />{/case}
														{case value="8"}<img src="__IMG__icon1-10.gif" alt="" />{/case}
														{default /}<img src="__IMG__icon1-0.gif" alt="" />
														{/switch}
													</div>
													<!-- 得分数值 -->
													<div class="score-box">大神指数: <span>{$v.up_order}</span></div>
												</li>
											</a>
										{/if}
									{/foreach}
									<!-- end -->
									
									<!-- =============== -->
								</ul>
							</div>
						</div>
					</div>
					<!--一个榜结束-->
	
					<!--一个榜-->
					<div style="width:100%;margin-left: 20px; margin-bottom: 30px;" class="miva-rank-items">
						<!--排行榜标题-->
						<div class="miva-rank-title"><img src="__IMG__首页-恢复的_05.gif" />
							<div class="miva-rank-txt"><img src="__IMG__hudie.gif" /><span>人气榜</span></div>
							<!--tab-->
							<div class="tab-rank"><span class="active" data-total='2_1' data-rank="1">周榜</span><span data-total='2_2' data-rank="2">总榜</span></div>
						</div>
						<!--前三名-->
						<div data-num=1>
							<div  data-item="2_1" class="tow"  style="">
								<div class="top-three layui-fluid">
									<div class="layui-row">
										
										{foreach name="hot_day_data"  item="v"  key="k"}
											{if condition="2>=$k"}
												<div class="{if condition='$k == 0'}the-first layui-col-xs12{else \ } layui-col-xs6{/if}">
													<!--头像框?-->
													<a href="{:url('Index/user' , ['id' => $v['uid']])}">
														<div class="pic-box">
															{switch name="$k"}
															{case value="0" }<img src="__IMG__crown_01.gif" style="width:100%" />{/case}
															{case value="1" }<img src="__IMG__crown.gif" />{/case}
															{case value="2" }<img src="__IMG__首页-恢复的_18.gif" />{/case}
															{/switch}
															<img class="pic" src="{$v.head_img}" />
														</div>
													</a>
													<!--用户名字-->
													<div class="u-name">{$v.nickname}
														{switch name="$v.level"}
														{case value="1"}<img src="__IMG__biao1.gif" alt="" />{/case}
														{case value="2"}<img src="__IMG__icon1-4.gif" alt="" />{/case}
														{case value="3"}<img src="__IMG__icon1-5.gif" alt="" />{/case}
														{case value="4"}<img src="__IMG__icon-6.gif" alt="" />{/case}
														{case value="5"}<img src="__IMG__icon1-7.gif" alt="" />{/case}
														{case value="6"}<img src="__IMG__icon1-8_01.gif" alt="" />{/case}
														{case value="7"}<img src="__IMG__icon1-9.gif" alt="" />{/case}
														{case value="8"}<img src="__IMG__icon1-10.gif" alt="" />{/case}
														{default /}<img src="__IMG__icon1-0.gif" alt="" />
														{/switch}
														<!--用户分数-->
														<div class="score-box"><img src="__IMG__renqi.png"/><span class="score-txt">{$v.hot_day}</span></div>
													</div>
												</div>
											{/if}
										{/foreach}

									</div>
								</div>
								<!-- 后N名 -->
								<ul class="rank-last">
									{foreach name="hot_day_data" item="v" key="k"}
										{if condition="$k>=3"}
											<!-- 一条 -->
											<a href="{:url('Index/user' , ['id' => $v['uid']])}">
												<li>
													<!-- 排名 --><span>{$k+1}</span>
													<!-- 用户头像 --><img src="{$v.head_img}" alt="">
													<!-- 用户信息 -->
													<div class="user-info">
														<div class="u-name">{$v.nickname}</div>
														{switch name="$v.level"}
														{case value="1"}<img src="__IMG__biao1.gif" alt="" />{/case}
														{case value="2"}<img src="__IMG__icon1-4.gif" alt="" />{/case}
														{case value="3"}<img src="__IMG__icon1-5.gif" alt="" />{/case}
														{case value="4"}<img src="__IMG__icon-6.gif" alt="" />{/case}
														{case value="5"}<img src="__IMG__icon1-7.gif" alt="" />{/case}
														{case value="6"}<img src="__IMG__icon1-8_01.gif" alt="" />{/case}
														{case value="7"}<img src="__IMG__icon1-9.gif" alt="" />{/case}
														{case value="8"}<img src="__IMG__icon1-10.gif" alt="" />{/case}
														{default /}<img src="__IMG__icon1-0.gif" alt="" />
														{/switch}
													</div>
													<!-- 得分数值 -->
													<div class="score-box">人气指数: <span>{$v.hot_day}</span></div>
												</li>
											</a>
										{/if}
									{/foreach}
									<!-- end -->
									
									<!-- =============== -->
								</ul>
							</div>

							<div  data-item="2_2" class="tow"  style="display:none">
								<div class="top-three layui-fluid">
									<div class="layui-row">
										
										{foreach name="hot_data"  item="v"  key="k"}
											{if condition="2>=$k"}
												<div class="{if condition='$k == 0'}the-first layui-col-xs12{else \ } layui-col-xs6{/if}">
													<!--头像框?-->
													<a href="{:url('Index/user' , ['id' => $v['uid']])}">
														<div class="pic-box">
															{switch name="$k"}
															{case value="0" }<img src="__IMG__crown_01.gif" style="width:100%" />{/case}
															{case value="1" }<img src="__IMG__crown.gif" />{/case}
															{case value="2" }<img src="__IMG__首页-恢复的_18.gif" />{/case}
															{/switch}
															<img class="pic" src="{$v.head_img}" />
														</div>
													</a>
													<!--用户名字-->
													<div class="u-name">{$v.nickname}
														{switch name="$v.level"}
														{case value="1"}<img src="__IMG__biao1.gif" alt="" />{/case}
														{case value="2"}<img src="__IMG__icon1-4.gif" alt="" />{/case}
														{case value="3"}<img src="__IMG__icon1-5.gif" alt="" />{/case}
														{case value="4"}<img src="__IMG__icon-6.gif" alt="" />{/case}
														{case value="5"}<img src="__IMG__icon1-7.gif" alt="" />{/case}
														{case value="6"}<img src="__IMG__icon1-8_01.gif" alt="" />{/case}
														{case value="7"}<img src="__IMG__icon1-9.gif" alt="" />{/case}
														{case value="8"}<img src="__IMG__icon1-10.gif" alt="" />{/case}
														{default /}<img src="__IMG__icon1-0.gif" alt="" />
														{/switch}
														<!--用户分数-->
														<div class="score-box"><img src="__IMG__renqi.png"/><span class="score-txt">{$v.hot}</span></div>
													</div>
												</div>
											{/if}
										{/foreach}

									</div>
								</div>
								<!-- 后N名 -->
								<ul class="rank-last">
									{foreach name="hot_data" item="v" key="k"}
										{if condition="$k>=3"}
											<!-- 一条 -->
											<a href="{:url('Index/user' , ['id' => $v['uid']])}">
												<li>
													<!-- 排名 --><span>{$k+1}</span>
													<!-- 用户头像 --><img src="{$v.head_img}" alt="">
													<!-- 用户信息 -->
													<div class="user-info">
														<div class="u-name">{$v.nickname}</div>
														{switch name="$v.level"}
														{case value="1"}<img src="__IMG__biao1.gif" alt="" />{/case}
														{case value="2"}<img src="__IMG__icon1-4.gif" alt="" />{/case}
														{case value="3"}<img src="__IMG__icon1-5.gif" alt="" />{/case}
														{case value="4"}<img src="__IMG__icon-6.gif" alt="" />{/case}
														{case value="5"}<img src="__IMG__icon1-7.gif" alt="" />{/case}
														{case value="6"}<img src="__IMG__icon1-8_01.gif" alt="" />{/case}
														{case value="7"}<img src="__IMG__icon1-9.gif" alt="" />{/case}
														{case value="8"}<img src="__IMG__icon1-10.gif" alt="" />{/case}
														{default /}<img src="__IMG__icon1-0.gif" alt="" />
														{/switch}
													</div>
													<!-- 得分数值 -->
													<div class="score-box">大神指数: <span>{$v.hot}</span></div>
												</li>
											</a>
										{/if}
									{/foreach}
									<!-- end -->
									
									<!-- =============== -->
								</ul>
							</div>
						</div>
					</div>
					<!--一个榜结束-->

					<!--一个榜-->
					<div style="width:100%;margin-left: 20px; margin-bottom: 30px;" class="miva-rank-items">
						<!--排行榜标题-->
						<div class="miva-rank-title"><img src="__IMG__title.gif" />
							<div class="miva-rank-txt"><img src="__IMG__yuanbao.gif" /><span>贡献榜</span></div>
							<!--tab-->
							<div class="tab-rank"><span class="active" data-total='3_1' data-rank="1">周榜</span><span data-total='3_2' data-rank="2">总榜</span></div>
						</div>
						<!--前三名-->
						<div data-num=1>
							<div  data-item="3_1" class="three"  style="">
								<div class="top-three layui-fluid">
									<div class="layui-row">
										
										{foreach name="mogul_day_data"  item="v"  key="k"}
											{if condition="2>=$k"}
												<div class="{if condition='$k == 0'}the-first layui-col-xs12{else \ } layui-col-xs6{/if}">
													<!--头像框?-->
													<a href="{:url('Index/user' , ['id' => $v['uid']])}">
														<div class="pic-box">
															{switch name="$k"}
															{case value="0" }<img src="__IMG__crown_01.gif" style="width:100%" />{/case}
															{case value="1" }<img src="__IMG__crown.gif" />{/case}
															{case value="2" }<img src="__IMG__首页-恢复的_18.gif" />{/case}
															{/switch}
															<img class="pic" src="{$v.head_img}" />
														</div>
													</a>
													<!--用户名字-->
													<div class="u-name">{$v.nickname}
														{switch name="$v.level"}
														{case value="1"}<img src="__IMG__biao1.gif" alt="" />{/case}
														{case value="2"}<img src="__IMG__icon1-4.gif" alt="" />{/case}
														{case value="3"}<img src="__IMG__icon1-5.gif" alt="" />{/case}
														{case value="4"}<img src="__IMG__icon-6.gif" alt="" />{/case}
														{case value="5"}<img src="__IMG__icon1-7.gif" alt="" />{/case}
														{case value="6"}<img src="__IMG__icon1-8_01.gif" alt="" />{/case}
														{case value="7"}<img src="__IMG__icon1-9.gif" alt="" />{/case}
														{case value="8"}<img src="__IMG__icon1-10.gif" alt="" />{/case}
														{default /}<img src="__IMG__icon1-0.gif" alt="" />
														{/switch}
														<!--用户分数-->
														<div class="score-box"><img src="__IMG__qian.png"/><span class="score-txt">{$v.mogul_day}</span></div>
													</div>
												</div>
											{/if}
										{/foreach}

									</div>
								</div>
								<!-- 后N名 -->
								<ul class="rank-last">
									{foreach name="mogul_day_data" item="v" key="k"}
										{if condition="$k>=3"}
											<!-- 一条 -->
											<a href="{:url('Index/user' , ['id' => $v['uid']])}">
												<li>
													<!-- 排名 --><span>{$k+1}</span>
													<!-- 用户头像 --><img src="{$v.head_img}" alt="">
													<!-- 用户信息 -->
													<div class="user-info">
														<div class="u-name">{$v.nickname}</div>
														{switch name="$v.level"}
														{case value="1"}<img src="__IMG__biao1.gif" alt="" />{/case}
														{case value="2"}<img src="__IMG__icon1-4.gif" alt="" />{/case}
														{case value="3"}<img src="__IMG__icon1-5.gif" alt="" />{/case}
														{case value="4"}<img src="__IMG__icon-6.gif" alt="" />{/case}
														{case value="5"}<img src="__IMG__icon1-7.gif" alt="" />{/case}
														{case value="6"}<img src="__IMG__icon1-8_01.gif" alt="" />{/case}
														{case value="7"}<img src="__IMG__icon1-9.gif" alt="" />{/case}
														{case value="8"}<img src="__IMG__icon1-10.gif" alt="" />{/case}
														{default /}<img src="__IMG__icon1-0.gif" alt="" />
														{/switch}
													</div>
													<!-- 得分数值 -->
													<div class="score-box">人气指数: <span>{$v.mogul_day}</span></div>
												</li>
											</a>
										{/if}
									{/foreach}
									<!-- end -->
									
									<!-- =============== -->
								</ul>
							</div>

							<div  data-item="3_2" class="three"  style="display:none">
								<div class="top-three layui-fluid">
									<div class="layui-row">
										
										{foreach name="mogul_data"  item="v"  key="k"}
											{if condition="2>=$k"}
												<div class="{if condition='$k == 0'}the-first layui-col-xs12{else \ } layui-col-xs6{/if}">
													<!--头像框?-->
													<a href="{:url('Index/user' , ['id' => $v['uid']])}">
														<div class="pic-box">
															{switch name="$k"}
															{case value="0" }<img src="__IMG__crown_01.gif" style="width:100%" />{/case}
															{case value="1" }<img src="__IMG__crown.gif" />{/case}
															{case value="2" }<img src="__IMG__首页-恢复的_18.gif" />{/case}
															{/switch}
															<img class="pic" src="{$v.head_img}" />
														</div>
													</a>
													<!--用户名字-->
													<div class="u-name">{$v.nickname}
														{switch name="$v.level"}
														{case value="1"}<img src="__IMG__biao1.gif" alt="" />{/case}
														{case value="2"}<img src="__IMG__icon1-4.gif" alt="" />{/case}
														{case value="3"}<img src="__IMG__icon1-5.gif" alt="" />{/case}
														{case value="4"}<img src="__IMG__icon-6.gif" alt="" />{/case}
														{case value="5"}<img src="__IMG__icon1-7.gif" alt="" />{/case}
														{case value="6"}<img src="__IMG__icon1-8_01.gif" alt="" />{/case}
														{case value="7"}<img src="__IMG__icon1-9.gif" alt="" />{/case}
														{case value="8"}<img src="__IMG__icon1-10.gif" alt="" />{/case}
														{default /}<img src="__IMG__icon1-0.gif" alt="" />
														{/switch}
														<!--用户分数-->
														<div class="score-box"><img src="__IMG__qian.png"/><span class="score-txt">{$v.mogul}</span></div>
													</div>
												</div>
											{/if}
										{/foreach}

									</div>
								</div>
								<!-- 后N名 -->
								<ul class="rank-last">
									{foreach name="mogul_data" item="v" key="k"}
										{if condition="$k>=3"}
											<!-- 一条 -->
											<a href="{:url('Index/user' , ['id' => $v['uid']])}">
												<li>
													<!-- 排名 --><span>{$k+1}</span>
													<!-- 用户头像 --><img src="{$v.head_img}" alt="">
													<!-- 用户信息 -->
													<div class="user-info">
														<div class="u-name">{$v.nickname}</div>
														{switch name="$v.level"}
														{case value="1"}<img src="__IMG__biao1.gif" alt="" />{/case}
														{case value="2"}<img src="__IMG__icon1-4.gif" alt="" />{/case}
														{case value="3"}<img src="__IMG__icon1-5.gif" alt="" />{/case}
														{case value="4"}<img src="__IMG__icon-6.gif" alt="" />{/case}
														{case value="5"}<img src="__IMG__icon1-7.gif" alt="" />{/case}
														{case value="6"}<img src="__IMG__icon1-8_01.gif" alt="" />{/case}
														{case value="7"}<img src="__IMG__icon1-9.gif" alt="" />{/case}
														{case value="8"}<img src="__IMG__icon1-10.gif" alt="" />{/case}
														{default /}<img src="__IMG__icon1-0.gif" alt="" />
														{/switch}
													</div>
													<!-- 得分数值 -->
													<div class="score-box">大神指数: <span>{$v.mogul}</span></div>
												</li>
											</a>
										{/if}
									{/foreach}
									<!-- end -->
									
									<!-- =============== -->
								</ul>
							</div>
						</div>
					</div>
					<!--一个榜结束-->
				</div>

			</div>
		</div>

		<!-- 引入侧边栏 -->
		<!-- 引入页脚 -->
		{include file="public/footer"}
	</body>

</html>
	<script type="text/javascript">
	//排行榜切换JS
		$(function(){

				$('.tab-rank').on('click','[data-rank]',function(){

					$(this).addClass('active').siblings().removeClass('active')

					var now = $(this).attr('data-total')

					switch(true)
					{
						case now == '1_1':
							$('[data-item=1_1]').show().siblings().hide()
							break;
						case now == '1_2':
							$('[data-item=1_2]').show().siblings().hide()
							break;
						case now == '2_1':
							$('[data-item=2_1]').show().siblings().hide()
							break;
						case now == '2_2':
							$('[data-item=2_2]').show().siblings().hide()
							break;
						case now == '3_1':
							$('[data-item=3_1]').show().siblings().hide()
							break;
						case now == '3_2':
							$('[data-item=3_2]').show().siblings().hide()
							break;	
					}
				})
				
			})
	</script>


<script>
		

	$(function(){

		var project = 0;				//陪玩类型（游戏/娱乐）
		var projectId = '{$game_id}'; 	//陪玩类型项目ID
		var porjectLv = 0;  			//陪玩类型项目等级
		var sex = 0;					//性别
		var type = 1;					//综合筛选
		
		$('[cheap]').on('click', function(){

			type = $(this).attr('cheap');
			
			$(this).addClass('screen-btn-active').siblings().removeClass('screen-btn-active');
			$('.miva-screen-btn-admin').addClass('btn-admin-act');
			//综合刷选Ajax
			$.post("{:url('Acc/screen')}",{project:project,project_id:projectId,sex:sex,type:type,porjectLv:porjectLv},function(res){ // 用作筛选的ajax
				//https://www.huoniaopeiwan.com/index/index/offline_user/id/${a.uid}
				//http://localhost/huoniao/public/index.php/index/index/offline_user/id/${a.uid}
				//https://www.huoniaopeiwan.com/index/index/offline_user/id/${a.uid}
				var aa = new Array();
				$.each(res,function(k,v){
    				aa.push(v);
				});

			if(type == 4){
				var str = ''
					for(a of aa){
						//e = eval('(' +data + ')');
						str += `<li>			
									<a href="https://www.huoniaopeiwan.com/index/index/offline_user/id/${a.uid}" class="miva-star-items">
										<div class="miva-star-tip">接单中</div>
										<div class="miva-star-pic">
												<img src="${a.head_img+'!syph' || '__IMG__default.jpg'}" />
										</div>
										<div style=" padding: 5px 10px;" class="layui-fluid miva-star-info">
											<div class="layui-row">
												<div class="layui-col-xs7 layui-col-sm7">		
													${a.nickname}
												</div>
												<div class="layui-col-xs4 layui-col-sm4 layui-col-xs-offset1 layui-col-sm1 tab tab-win">
													${a.city}									
												</div>
												<div class="layui-col-xs4 layui-col-sm4">
													<img src="__IMG__火.png" alt="图标">
													<span>${a.hot}</span>
												</div>
												
												<div class="layui-col-xs5 layui-col-sm5 layui-col-md-offset3 star-price">￥199/小时</div>
											</div>
										</div>
									</a>
								</li>`;

					}
				$('.miva-screen-list').html(str)




			}else{
				var str = ''
					for(a of aa){

						var pric = `${a.pric}`
						var danwei = '小时'
                                if(pric == 8){
                                    danwei = '局'
                                   // var overall =  '<span class="star-price">￥8/局</span>'
                                    //$('.miva-star-info-right').html(overall)

                                }else if(project == 2&&projectId == 2){
                                	danwei = '首'
                                }else if(project == 2&&projectId == 5){
                                	danwei = '次'
                                }else if(project == 2&&projectId == 6){
                                	danwei = '次'
                                }
						
						str += `<li>			
									<a href="https://www.huoniaopeiwan.com/index/index/offline_user/id/${a.uid}" class="miva-star-items">
										<div class="miva-star-tip">接单中</div>
										<div class="miva-star-pic">
												<img src="${a.head_img+'!syph' || '__IMG__default.jpg'}" />
										</div>
										<div style=" padding: 5px 10px;" class="layui-fluid miva-star-info">
											<div class="layui-row">
												<div class="layui-col-xs7 layui-col-sm7">		
													${a.nickname}
												</div>
												<div class="layui-col-xs4 layui-col-sm4 layui-col-xs-offset1 layui-col-sm1 tab tab-win">
													${a.city}									
												</div>
												<div class="layui-col-xs4 layui-col-sm4">
													<img src="__IMG__火.png" alt="图标">
													<span>${a.hot}</span>
												</div>
												
												<div class="layui-col-xs5 layui-col-sm5 layui-col-md-offset3 star-price">￥${a.pric}/${danwei}</div>
											</div>
										</div>
									</a>
								</li>`;

								
					}
					
				$('.miva-screen-list').html(str)
				

			}


			},'json')
		})

		$('.miva-screen-box').on('click', '.miva-screen-btn-admin', function() {
		
			$(this).removeClass('btn-admin-act');
			$('.miva-screen-box').find('[cheap]').removeClass('screen-btn-active');

			
			//综合排序筛选（）
			$.post("{:url('Acc/screen')}",{project:project,project_id:projectId,sex:sex,type:type,porjectLv:porjectLv},function(res){ // 又是筛选的ajax...  还绑定在了同一个元素上
				var aa = new Array();
				$.each(res,function(k,v){
    				aa.push(v);
				});
			if(type == 4){
				var str = ''
					for(a of aa){


						
						str += `<li>			
									<a href="https://www.huoniaopeiwan.com/index/index/offline_user/id/${a.uid}" class="miva-star-items">
										<div class="miva-star-tip">接单中</div>
										<div class="miva-star-pic">
												<img src="${a.head_img+'!syph' || '__IMG__default.jpg'}" />
										</div>
										<div style=" padding: 5px 10px;" class="layui-fluid miva-star-info">
											<div class="layui-row">
												<div class="layui-col-xs7 layui-col-sm7">		
													${a.nickname}
												</div>
												<div class="layui-col-xs4 layui-col-sm4 layui-col-xs-offset1 layui-col-sm1 tab tab-win">
													${a.city}									
												</div>
												<div class="layui-col-xs4 layui-col-sm4">
													<img src="__IMG__火.png" alt="图标">
													<span>${a.hot}</span>
												</div>
												
												<div class="layui-col-xs5 layui-col-sm5 layui-col-md-offset3 star-price">￥199/小时</div>
											</div>
										</div>
									</a>
								</li>`;

					}
				$('.miva-screen-list').html(str)




			}else{
				var str = ''
					for(a of aa){

						var pric = `${a.pric}`
						var danwei = '小时'
                                if(pric == 8){
                                    danwei = '局'
                                }else if(project == 2&&projectId == 2){
                                	danwei = '首'
                                }else if(project == 2&&projectId == 5){
                                	danwei = '次'
                                }else if(project == 2&&projectId == 6){
                                	danwei = '次'
                                }
						str += `<li>			
									<a href="https://www.huoniaopeiwan.com/index/index/offline_user/id/${a.uid}" class="miva-star-items">
										<div class="miva-star-tip">接单中</div>
										<div class="miva-star-pic">
												<img src="${a.head_img+'!syph' || '__IMG__default.jpg'}" />
										</div>
										<div style=" padding: 5px 10px;" class="layui-fluid miva-star-info">
											<div class="layui-row">
												<div class="layui-col-xs7 layui-col-sm7">		
													${a.nickname}
												</div>
												<div class="layui-col-xs4 layui-col-sm4 layui-col-xs-offset1 layui-col-sm1 tab tab-win">
													${a.city}									
												</div>
												<div class="layui-col-xs4 layui-col-sm4">
													<img src="__IMG__火.png" alt="图标">
													<span>${a.hot}</span>
												</div>
												
												<div class="layui-col-xs5 layui-col-sm5 layui-col-md-offset3 star-price">￥${a.pric}/${danwei}</div>
											</div>
										</div>
									</a>
								</li>`;
					}
					$('.miva-screen-list').html(str)
				}

			},'json')
		})

        $('.miva-acc-tab-box').on('mouseover', 'span', function() {
            $(this).siblings().find('img').css('transform', 'translateY(-36.6px)');
		})
        $('.miva-acc-tab-box').on('mouseout', 'span', function() {
            $(this).siblings().find('img').css('transform', '');
        })

		$('.miva-acc-tab-box').on('click', '.miva-iocn-box, span', function() {
			$('.miva-acc-tab-box').find('.miva-iocn-box').removeClass('icon-active')
			$('.miva-acc-tab-box').find('.miva-iocn-box').css('color','');
			$(this).addClass('icon-active');

			// projectId = $(this).attr('project_id');
			project = $(this).attr('project');
			porjectLv = 0;
            $('.miva-acc-tab-box').find('span').css('color','');
            if( !($(this).attr('project_id')) ) { // 如果他没有project_id 就拿他兄弟的 project_id  如果有 就拿他自己的 project_id
                projectId = $(this).siblings().attr('project_id')
                project = $(this).siblings().attr('project');
                $(this).siblings().addClass('icon-active');

                $(this).css('color','#f5b105');//#f5b105
            }else {

                $(this).siblings('span').css('color','#f5b105');
                projectId = $(this).attr('project_id')
            }

            //console.log(projectId)
			//post请求  携带参数访问控制器    通过参数查询出数据并 return json($data)回来   这里是取到项目的等级信息
			$.post("{:url('Acc/garde_ajax')}",{project:project,project_id:projectId},function(res){
				//组装数据
				var str = '<a porjectLv="0" class="miva-txt-box txt-active"><div class="miva-txt" alt="1">不限</div></a>';
				//循环组装所有
				for(a of res){
					str += `<a porjectLv="${a.id}" class="miva-txt-box"><div class="miva-txt" alt="1">${a.type_name}</div></a>`;
				}
				//替换文本
				$('[data-item="lv"]').html(str);

			},'json');
		
		});

		$('.miva-acc-tab-box').on('click', '.miva-txt-box', function() {
			$(this).addClass('txt-active').siblings().removeClass('txt-active');
			if ($(this).attr('porjectLv')) porjectLv = $(this).attr('porjectLv');
			if ($(this).attr('sex')) sex = $(this).attr('sex');
		});
	
		$('.miva-acc-tab-box').on('click','a',function(){

			
			// console.log('项目类型'+project)
			// console.log('游戏'+projectId)
			// console.log('等级'+porjectLv)
			// console.log('性别'+sex)		
			
			$.post("{:url('Acc/screen')}",{project:project,project_id:projectId,sex:sex,type:type,porjectLv:porjectLv},function(res){ //第三个筛选 ajax
				var aa = new Array();
				$.each(res,function(k,v){
    				aa.push(v);
				});
			if(type == 4){
				var str = ''
					for(a of aa){
						
						str += `<li>			
									<a href="https://www.huoniaopeiwan.com/index/index/offline_user/id/${a.uid}" class="miva-star-items">
										<div class="miva-star-tip">接单中</div>
										<div class="miva-star-pic">
												<img src="${a.head_img+'!syph' || '__IMG__default.jpg'}" />
										</div>
										<div style=" padding: 5px 10px;" class="layui-fluid miva-star-info">
											<div class="layui-row">
												<div class="layui-col-xs7 layui-col-sm7">		
													${a.nickname}
												</div>
												<div class="layui-col-xs4 layui-col-sm4 layui-col-xs-offset1 layui-col-sm1 tab tab-win">
													${a.city}									
												</div>
												<div class="layui-col-xs4 layui-col-sm4">
													<img src="__IMG__火.png" alt="图标">
													<span>${a.hot}</span>
												</div>
												
												<div class="layui-col-xs5 layui-col-sm5 layui-col-md-offset3 star-price">￥199/小时</div>
											</div>
										</div>
									</a>
								</li>`;

					}
				$('.miva-screen-list').html(str)




			}else{
				var str = ''
					for(a of aa){

						var pric = `${a.pric}`
						var danwei = '小时'
                                if(pric == 8){
                                    danwei = '局'
                                }else if(project == 2&&projectId == 2){
                                	danwei = '首'
                                }else if(project == 2&&projectId == 5){
                                	danwei = '次'
                                }else if(project == 2&&projectId == 6){
                                	danwei = '次'
                                }

						str += `<li>
									<a href="https://www.huoniaopeiwan.com/index/index/offline_user/id/${a.uid}" class="miva-star-items">
										<div class="miva-star-tip">接单中</div>
										<div class="miva-star-pic">
												<img src="${a.head_img+'!syph' || '__IMG__default.jpg'}" />
										</div>
										<div style=" padding: 5px 10px;" class="layui-fluid miva-star-info">
											<div class="layui-row">
												<div class="layui-col-xs7 layui-col-sm7">		
													${a.nickname}
												</div>
												<div class="layui-col-xs4 layui-col-sm4 layui-col-xs-offset1 layui-col-sm1 tab tab-win">
													${a.city}									
												</div>
												<div class="layui-col-xs4 layui-col-sm4">
													<img src="__IMG__火.png" alt="图标">
													<span>${a.hot}</span>
												</div>
												
												<div class="layui-col-xs5 layui-col-sm5 layui-col-md-offset3 star-price">￥${a.pric}/${danwei}</div>
											</div>
										</div>
									</a>
								</li>`;
					}
					$('.miva-screen-list').html(str)
				}
					/*
if(type == 4){
				var url = '//www.baidu.com';
				$('.miva-star-items').attr('href',url)
				$('.star-price').html('￥199/小时')
			}
			*/
			},'json')

		//排行榜Ajax
			console.log(project)
			console.log(projectId)
			var level = [
							'icon1-0.gif',
							'biao1.gif',
							'icon1-4.gif',
							'icon1-5.gif',
							'icon-6.gif',
							'icon1-7.gif',
							'icon1-8_01.gif',
							'icon1-9.gif',
							'icon1-10.gif'
							
					]

			//周榜
			$.post("{:url('Acc/ranking_list_week')}",{project:project,project_id:projectId},function(res){

				var str = ''; 
				console.log(res)
				///////////////////////////////////
				str += `<div class="top-three layui-fluid">
							<div class="layui-row">

								<div class="the-first layui-col-xs12">
									<!--头像框?-->
									<a href="https://www.huoniaopeiwan.com/index/index/user/id/${res[0].uid}">
										<div class="pic-box">
											<img src="__IMG__crown_01.gif" style="width:100%" />
											<img class="pic" src="${res[0].head_img}" />
										</div>
									</a>
									<!--用户名字-->
									<div class="u-name">${res[0].nickname.length > 6 ? res[0].nickname.slice(0,6) : res[0].nickname}<img src="__IMG__${level[res[0].level]}" alt="" />
										<!--用户分数-->
										<div class="score-box"><img src="__IMG__lihai.png" /><span class="score-txt">${res[0].up_order_week}</span></div>
									</div>
								</div>

								<div class="layui-col-xs6">
									<!--头像框?-->
									<a href="https://www.huoniaopeiwan.com/index/index/user/id/${res[1].uid}">
										<div class="pic-box">
											<img src="__IMG__crown.gif" />
											<img class="pic" src="${res[1].head_img}" />
										</div>
									</a>
									<!--用户名字-->
									<div class="u-name">${res[1].nickname.length > 6 ? res[1].nickname.slice(0,6) : res[1].nickname}<img src="__IMG__${level[res[1].level]}" alt="" />
										<!--用户分数-->
										<div class="score-box"><img src="__IMG__lihai.png" /><span class="score-txt">${res[1].up_order_week}</span></div>
									</div>
								</div>

								<div class="layui-col-xs6">
									<!--头像框?-->
									<a href="https://www.huoniaopeiwan.com/index/index/user/id/${res[2].uid}">
										<div class="pic-box">
											<img src="__IMG__首页-恢复的_18.gif" />
											<img class="pic" src="${res[2].head_img}" />
										</div>
									</a>
									<!--用户名字-->
									<div class="u-name">${res[2].nickname.length > 6 ? res[2].nickname.slice(0,6) : res[2].nickname}<img src="__IMG__${level[res[2].level]}" alt="" />
										<!--用户分数-->
										<div class="score-box"><img src="__IMG__lihai.png" /><span class="score-txt">${res[2].up_order_week}</span></div>
									</div>
								</div>

						</div>
					</div>`;


				str += '<ul class="rank-last">'
				$.each(res,function(k,v){
    				if(k>2){
						str +=	`
								<a href="https://www.huoniaopeiwan.com/index/index/user/id/${v.uid}">
									<li>
										<!-- 排名 --><span>${k+1}</span>
										<!-- 用户头像 --><img src="${v.head_img}" alt="">
										<!-- 用户信息 -->
										<div class="user-info">
											<div class="u-name">${v.nickname}</div><img src="__IMG__biao1.gif" alt=""></div>
										<!-- 得分数值 -->
										<div class="score-box">大神指数: <span>${v.up_order_week}</span></div>
									</li>
								</a>
								`
					}
							
				});
				str += '</ul>'
			
				
				$('[data-item="1_1"]').html(str)
			},'json')

			//总榜
			$.post("{:url('Acc/ranking_list')}",{project:project,project_id:projectId},function(res){

				var str = ''; 
				console.log(res)
				///////////////////////////////////
				str += `<div class="top-three layui-fluid">
							<div class="layui-row">

								<div class="the-first layui-col-xs12">
									<!--头像框?-->
									<a href="https://www.huoniaopeiwan.com/index/index/user/id/${res[0].uid}">
										<div class="pic-box">
											<img src="__IMG__crown_01.gif" style="width:100%" />
											<img class="pic" src="${res[0].head_img}" />
										</div>
									</a>
									<!--用户名字-->
									<div class="u-name">${res[0].nickname.length > 6 ? res[0].nickname.slice(0,6) : res[0].nickname}<img src="__IMG__${level[res[0].level]}" alt="" />
										<!--用户分数-->
										<div class="score-box"><img src="__IMG__lihai.png" /><span class="score-txt">${res[0].up_order}</span></div>
									</div>
								</div>

								<div class="layui-col-xs6">
									<!--头像框?-->
									<a href="https://www.huoniaopeiwan.com/index/index/user/id/${res[1].uid}">
										<div class="pic-box">
											<img src="__IMG__crown.gif" />
											<img class="pic" src="${res[1].head_img}" />
										</div>
									</a>
									<!--用户名字-->
									<div class="u-name">${res[1].nickname.length > 6 ? res[1].nickname.slice(0,6) : res[1].nickname}<img src="__IMG__${level[res[1].level]}" alt="" />
										<!--用户分数-->
										<div class="score-box"><img src="__IMG__lihai.png" /><span class="score-txt">${res[1].up_order}</span></div>
									</div>
								</div>

								<div class="layui-col-xs6">
									<!--头像框?-->
									<a href="https://www.huoniaopeiwan.com/index/index/user/id/${res[2].uid}">
										<div class="pic-box">
											<img src="__IMG__首页-恢复的_18.gif" />
											<img class="pic" src="${res[2].head_img}" />
										</div>
									</a>
									<!--用户名字-->
									<div class="u-name">${res[2].nickname.length > 6 ? res[2].nickname.slice(0,6) : res[2].nickname}<img src="__IMG__${level[res[2].level]}" alt="" />
										<!--用户分数-->
										<div class="score-box"><img src="__IMG__lihai.png" /><span class="score-txt">${res[2].up_order}</span></div>
									</div>
								</div>

						</div>
					</div>`;


				str += '<ul class="rank-last">'
				$.each(res,function(k,v){
    				if(k>2){
						str +=	`
								<a href="https://www.huoniaopeiwan.com/index/index/user/id/${v.uid}">
									<li>
										<!-- 排名 --><span>${k+1}</span>
										<!-- 用户头像 --><img src="${v.head_img}" alt="">
										<!-- 用户信息 -->
										<div class="user-info">
											<div class="u-name">${v.nickname}</div><img src="__IMG__biao1.gif" alt=""></div>
										<!-- 得分数值 -->
										<div class="score-box">大神指数: <span>${v.up_order}</span></div>
									</li>
								</a>
								`
					}
							
				});
				str += '</ul>'
			
				
				$('[data-item="1_2"]').html(str)
			},'json')

		});

	})
	
</script>
