{include file="public/header"}
{include file="public/sidebar"}

<style>
	.icon-active > img {
		-webkit-transform: translateY(<?php  echo intval(-61*0.6) ?>px);
		transform: translateY(<?php  echo intval(-61*0.6) ?>px);
	}
	.icon-active > img:hover {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
	.txt-active > .miva-txt {
		color: #f5b105
	}
	a > * {
		cursor: pointer;
	}
</style>
	<body>
		<!-- 引入头部 -->
		<div class="main">
			<!-- 选择分类 -->
			<div class="miva-acc-tab-box">
				<table>
					<tr>
						<td class="miva-acc-title">游戏类型</td>
						<td>
							<!-- 一条 -->
							{foreach name="game_data" item="v"}
							<a>
								<div class="miva-iocn-box {if condition=" $game_id eq $v.id"}icon-active{/if}" project="1"  project_id="{$v.id}" dawdawdawd>
								{if condition="$v.game_logo_img == ''"}
									<img src="__IMG__default.jpg" alt="1">
								{else /}
									<img src="{$v.game_logo_img}" alt="">
								{/if}
								</div>
								<span {if condition=" $game_id eq $v.id"}style="color:#f5b105"{/if}>{$v.name}</span>
							</a>
							{/foreach}
							
							<!-- end -->

						</td>
					</tr>

					<tr>
						<td class="miva-acc-title">娱乐项目</td>
						<td>
							<!-- 一条 -->
							{foreach name="joy_data" item="v"}
							<a>
								<div class="miva-iocn-box"  project="2"  project_id="{$v.id}">
								{if condition="$v.joy_logo_img == ''"}
									<img src="__IMG__default.jpg" alt="">
								{else /}
									<img src="{$v.joy_logo_img}" alt="">
								{/if}
								</div>
								<span>{$v.name}</span>
							</a>
							{/foreach}
							<!-- end -->

						</td>
					</tr>
					<tr>
						<td class="miva-acc-title">选择等级</td>
						<td data-item="lv" class="graed">
							<a porjectLv="0" class="miva-txt-box txt-active">
								<div class="miva-txt" alt="1">不限</div>
							</a>
							
						</td>
					</tr>
					<tr>
						<td class="miva-acc-title">陪玩性别</td>
						<td>
							<a sex="0" class="miva-txt-box txt-active">
								<div class="miva-txt">不限</div>
							</a>
							<a sex="1" class="miva-txt-box">
								<div class="miva-txt">男神</div>
							</a>
							<a sex="2" class="miva-txt-box">
								<div class="miva-txt">女神</div>
							</a>
						</td>
					</tr>
				</table>
			</div>
	
			<!-- 筛选 -->
			<style>
			.screen-btn-active {
				background: #f5b105;
				color: #fff !important;
			}
			.btn-admin-act {
				background: transparent!important; 
				color: #f5b105 !important; 
			}
			</style>
			<div class="miva-screen-box">
				<div class="miva-screen-btn-admin" cheap="1" data-item="shaiBtn" >
					<img src="__IMG__shaixuan.png" style="width: 20px;vertical-align: bottom;" alt="">
 综合筛选
				</div>
				<div class="miva-screen-btn" cheap="2" data-item="shaiBtn">魅力</div>
				<div class="miva-screen-btn" cheap="3" data-item="shaiBtn">价格</div>
				{if condition="isset($_SESSION['think']['wb_id'])"}
					<div class="miva-screen-btn" cheap="4" data-item="shaiBtn">线下</div>
				{/if}
			</div>

			<!-- 陪玩列表 -->
			<div class="">
				<ul class="miva-screen-list miva-star-box">
					<!-- 一条 -->
					{foreach name="acc_data" item="v"}
					<li>
						<a href="{:url('Index/user',['id' => $v.uid])}" class="miva-star-items">
							<div class="miva-star-pic">
								{if condition="$v.head_img == ''"}
									<img src="__IMG__default.jpg" />
								{else /}
									<img src="{$v.head_img}" />
								{/if}
							</div>
							<table class="miva-star-info">
								<tr>
									<td>
										
										<span class="star-name">{$v.nickname}</span>
									</td>
									<td class="miva-star-info-right">
										<span class="tab tab-win">{$v.city}</span>
										
									</td>
								</tr>
								<tr>
									<td>
										<img src="__IMG__火.png" alt="图标">
										<span>{$v.hot}</span>
									</td>
									<td class="miva-star-info-right">
									{if condition="$v.pice == 8"}
										<span class="star-price">￥8局</span>
									{else /}
										<span class="star-price">￥{$v.pice}/小时</span>
									{/if}
									</td>
								</tr>
							</table>
						</a>
					</li>
					{/foreach}

					

					<!-- end -->
				</ul>
			</div>

		</div>

		<!-- 引入侧边栏 -->
		<!-- 引入页脚 -->
		{include file="public/footer"}
	</body>

</html>


<script>
		

	$(function(){

		var project = 0;
		var projectId = '{$game_id}';
		var porjectLv = 0;
		var sex = 0;
		var type = 1;
		
		$('[cheap]').on('click', function(){
			type = $(this).attr('cheap');
			
			$(this).addClass('screen-btn-active').siblings().removeClass('screen-btn-active');
			$('.miva-screen-btn-admin').addClass('btn-admin-act');
		
			$.post("{:url('Acc/screen')}",{project:project,project_id:projectId,sex:sex,type:type,porjectLv:porjectLv},function(res){ // 用作筛选的ajax
				//https://www.huoniaopeiwan.com/index/index/offline_user/id/${a.uid}
				//http://localhost/huoniao/public/index.php/index/index/offline_user/id/${a.uid}
				//https://www.huoniaopeiwan.com/index/index/offline_user/id/${a.uid}
				var aa = new Array();
				$.each(res,function(k,v){
    				aa.push(v);
				});

			if(type == 4){
				var str = ''
					for(a of aa){
						//e = eval('(' +data + ')');
						str += `<li>			
									<a href="https://www.huoniaopeiwan.com/index/index/offline_user/id/${a.uid}" class="miva-star-items">
										<div class="miva-star-pic">
												<img src="${a.head_img || '__IMG__default.jpg'}" />
										</div>
										<table class="miva-star-info">
											<tr>
												<td>		
													<span class="star-name">${a.nickname}</span>
												</td>
												<td class="miva-star-info-right">
													<span class="tab tab-win">${a.city}</span>
													
												</td>
											</tr>
											<tr>
												<td>
													<img src="__IMG__火.png" alt="图标">
													<span>${a.hot}</span>
												</td>
												<td class="miva-star-info-right">
													<span class="star-price">￥199/小时</span>
												</td>
											</tr>
										</table>
									</a>
								</li>`;

					}
				$('.miva-screen-list').html(str)




			}else{
				var str = ''
					for(a of aa){

						var pric = `${a.pric}`
						var danwei = '小时'
                                if(pric == 8){
                                    danwei = '局'
                                   // var overall =  '<span class="star-price">￥8/局</span>'
                                    //$('.miva-star-info-right').html(overall)

                                }
						
						str += `<li>			
									<a href="https://www.huoniaopeiwan.com/index/index/user/id/${a.uid}" class="miva-star-items">
										<div class="miva-star-pic">
												<img src="${a.head_img || '__IMG__default.jpg'}" />
										</div>
										<table class="miva-star-info">
											<tr>
												<td>
													
													<span class="star-name">${a.nickname}</span>
												</td>
												<td class="miva-star-info-right">
													<span class="tab tab-win">${a.city}</span>
													
												</td>
											</tr>
											<tr>
												<td>
													<img src="__IMG__火.png" alt="图标">
													<span>${a.hot}</span>
												</td>
												<td class="miva-star-info-right">
													
													<span class="star-price">￥${a.pric}/${danwei}</span>
													
												</td>
											</tr>
										</table>
									</a>
								</li>`;

								
					}
					
				$('.miva-screen-list').html(str)
				

			}




/*
				if(type == 4){
				var url = '//www.baidu.com';
				$('.miva-star-items').attr('href',url)
				$('.star-price').html('￥199/小时')
				}
*/



			},'json')
		})

		$('.miva-screen-box').on('click', '.miva-screen-btn-admin', function() {
			$(this).removeClass('btn-admin-act');
			$('.miva-screen-box').find('[cheap]').removeClass('screen-btn-active');

			
			
			$.post("{:url('Acc/screen')}",{project:project,project_id:projectId,sex:sex,type:type,porjectLv:porjectLv},function(res){ // 又是筛选的ajax...  还绑定在了同一个元素上
				var aa = new Array();
				$.each(res,function(k,v){
    				aa.push(v);
				});
			if(type == 4){
				var str = ''
					for(a of aa){


						
						str += `<li>			
									<a href="https://www.huoniaopeiwan.com/index/index/offline_user/id/${a.uid}" class="miva-star-items">
										<div class="miva-star-pic">
												<img src="${a.head_img || '__IMG__default.jpg'}" />
										</div>
										<table class="miva-star-info">
											<tr>
												<td>
													
													<span class="star-name">${a.nickname}</span>
												</td>
												<td class="miva-star-info-right">
													<span class="tab tab-win">${a.city}</span>
													
												</td>
											</tr>
											<tr>
												<td>
													<img src="__IMG__火.png" alt="图标">
													<span>${a.hot}</span>
												</td>
												<td class="miva-star-info-right">
													<span class="star-price">199/小时</span>
												</td>
											</tr>
										</table>
									</a>
								</li>`;

					}
				$('.miva-screen-list').html(str)




			}else{
				var str = ''
					for(a of aa){

						var pric = `${a.pric}`
						var danwei = '小时'
                                if(pric == 8){
                                    danwei = '局'
                                   // var overall =  '<span class="star-price">￥8/局</span>'
                                    //$('.miva-star-info-right').html(overall)

                                }
						str += `<li>			
									<a href="https://www.huoniaopeiwan.com/index/index/user/id/${a.uid}" class="miva-star-items">
										<div class="miva-star-pic">
												<img src="${a.head_img || '__IMG__default.jpg'}" />
										</div>
										<table class="miva-star-info">
											<tr>
												<td>
													
													<span class="star-name">${a.nickname}</span>
												</td>
												<td class="miva-star-info-right">
													<span class="tab tab-win">${a.city}</span>
												
												</td>
											</tr>
											<tr>
												<td>
													<img src="__IMG__火.png" alt="图标">
													<span>${a.hot}</span>
												</td>
												<td class="miva-star-info-right">
													<span class="star-price">￥${a.pric}/${danwei}</span>
												</td>
											</tr>
										</table>
									</a>
								</li>`;
					}
					$('.miva-screen-list').html(str)
				}
					/*
if(type == 4){
				var url = '//www.baidu.com';
				$('.miva-star-items').attr('href',url)
				$('.star-price').html('￥199/小时')
			}*/
			},'json')
		})

        $('.miva-acc-tab-box').on('mouseover', 'span', function() {
            $(this).siblings().find('img').css('transform', 'translateY(-36.6px)');
		})
        $('.miva-acc-tab-box').on('mouseout', 'span', function() {
            $(this).siblings().find('img').css('transform', '');
        })

		$('.miva-acc-tab-box').on('click', '.miva-iocn-box, span', function() {
			$('.miva-acc-tab-box').find('.miva-iocn-box').removeClass('icon-active')
			$('.miva-acc-tab-box').find('.miva-iocn-box').css('color','');
			$(this).addClass('icon-active');

			// projectId = $(this).attr('project_id');
			project = $(this).attr('project');
			porjectLv = 0;
            $('.miva-acc-tab-box').find('span').css('color','');
            if( !($(this).attr('project_id')) ) { // 如果他没有project_id 就拿他兄弟的 project_id  如果有 就拿他自己的 project_id
                projectId = $(this).siblings().attr('project_id')
                project = $(this).siblings().attr('project');
                $(this).siblings().addClass('icon-active');

                $(this).css('color','#f5b105');//#f5b105
            }else {

                $(this).siblings('span').css('color','#f5b105');
                projectId = $(this).attr('project_id')
            }

            //console.log(projectId)
			//post请求  携带参数访问控制器    通过参数查询出数据并 return json($data)回来   这里是取到项目的等级信息
			$.post("{:url('Acc/garde_ajax')}",{project:project,project_id:projectId},function(res){
				//组装数据
				var str = '<a porjectLv="0" class="miva-txt-box txt-active"><div class="miva-txt" alt="1">不限</div></a>';
				//循环组装所有
				for(a of res){
					str += `<a porjectLv="${a.id}" class="miva-txt-box"><div class="miva-txt" alt="1">${a.type_name}</div></a>`;
				}
				//替换文本
				$('[data-item="lv"]').html(str);

			},'json');
		
		});

		$('.miva-acc-tab-box').on('click', '.miva-txt-box', function() {
			$(this).addClass('txt-active').siblings().removeClass('txt-active');
			if ($(this).attr('porjectLv')) porjectLv = $(this).attr('porjectLv');
			if ($(this).attr('sex')) sex = $(this).attr('sex');
		});
	
		$('.miva-acc-tab-box').on('click','a',function(){
			// console.log('项目类型'+project)
			// console.log('游戏'+projectId)
			// console.log('等级'+porjectLv)
			// console.log('性别'+sex)		

// $.post("{:url('Acc/screen')}",{project:project,project_id:projectId,sex:sex}, 'json').then(function(res){
// 	console.log(res)
// })
			
			$.post("{:url('Acc/screen')}",{project:project,project_id:projectId,sex:sex,type:type,porjectLv:porjectLv},function(res){ //第三个筛选 ajax
				var aa = new Array();
				$.each(res,function(k,v){
    				aa.push(v);
				});
			if(type == 4){
				var str = ''
					for(a of aa){
						
						str += `<li>			
									<a href="https://www.huoniaopeiwan.com/index/index/offline_user/id/${a.uid}" class="miva-star-items">
										<div class="miva-star-pic">
												<img src="${a.head_img || '__IMG__default.jpg'}" />
										</div>
										<table class="miva-star-info">
											<tr>
												<td>
													
													<span class="star-name">${a.nickname}</span>
												</td>
												<td class="miva-star-info-right">
													<span class="tab tab-win">${a.city}</span>
													
												</td>
											</tr>
											<tr>
												<td>
													<img src="__IMG__火.png" alt="图标">
													<span>${a.hot}</span>
												</td>
												<td class="miva-star-info-right">
													<span class="star-price">￥199/小时</span>
												</td>
											</tr>
										</table>
									</a>
								</li>`;

					}
				$('.miva-screen-list').html(str)




			}else{
				var str = ''
					for(a of aa){

						var pric = `${a.pric}`
						var danwei = '小时'
                                if(pric == 8){
                                    danwei = '局'
                                   // var overall =  '<span class="star-price">￥8/局</span>'
                                    //$('.miva-star-info-right').html(overall)

                                }

						str += `<li>
									<a href="https://www.huoniaopeiwan.com/index/index/user/id/${a.uid}" class="miva-star-items">
										<div class="miva-star-pic">
												<img src="${a.head_img || '__IMG__default.jpg'}" />
										</div>
										<table class="miva-star-info">
											<tr>
												<td>
													
													<span class="star-name">${a.nickname}</span>
												</td>
												<td class="miva-star-info-right">
													<span class="tab tab-win">${a.city}</span>
												
												</td>
											</tr>
											<tr>
												<td>
													<img src="__IMG__火.png" alt="图标">
													<span>${a.hot}</span>
												</td>
												<td class="miva-star-info-right">
													<span class="star-price">￥${a.pric}/${danwei}</span>
												</td>
											</tr>
										</table>
									</a>
								</li>`;
					}
					$('.miva-screen-list').html(str)
				}
					/*
if(type == 4){
				var url = '//www.baidu.com';
				$('.miva-star-items').attr('href',url)
				$('.star-price').html('￥199/小时')
			}
			*/
			},'json')

		});

	})
	
	</script>