<footer>
  <div class="footer-box">
    <div class="footer-left-box">
      <a href="javascript:;">
        <div class="footer-logo-box">
          <img src="__IMG__logo (1).gif" alt="" class="logo">
        </div>
      </a>
      <a href="javascript:;">
        <div class="zh">联系我们</div>
        <div class="ne">contact us</div>
      </a>
      <a href="javascript:;">
        <div class="zh">大神招聘</div>
        <div class="ne">spirit recruitment</div>
      </a>
      <a href="javascript:;">
        <div class="zh">招商合作</div>
        <div class="ne">business cooperation</div>
      </a>
      <a href="javascript:;">
        <div class="zh">公司简介</div>
        <div class="ne">company profile</div>
      </a>
    </div>
    <div class="footer-right-box">
      <a href="javascript:;"><img src="__IMG__footer (1).gif" alt="wx"></a>
      <a href="javascript:;"><img src="__IMG__footer (2).gif" alt="qq"></a>
      <a href="javascript:;"><img src="__IMG__footer (3).gif" alt="wb"></a>
      <div class="footer-ma-box"><img src="__IMG__er (2).gif" alt="二维码"></div>
    </div>
  </div>
</footer>
