{include file="public/header"}

	<body class="u-body">
		<!-- 引入头部 -->
		<div class="main u-main">
{include file="public/nav"}
			<div class="user-info-box u-page-body">
				<div class="u-title">
					<span>我的账户</span>
				</div>
        <!-- 我的账户 -->
        <div class="miva-account-box">
          <!-- 账户余额 -->
          <div class="account-top">
            <div class="">我的余额 <span>{$user_data.cash}</span></div>
            <div class="">我的鸟蛋 <span class="blue">{$user_data.currency}</span></div>
          </div>
          <!-- 俩按钮 -->
          <div class="account-top-btn">
            <span><a href="{:url('Recharge/index')}">充值</a></span>
            {if condition="$_SESSION['user']['user_info']['type'] == 1"}
            <span><a href="{:url('User/withdraw_cash')}">提现</a></span>
            {/if}
          </div>

          <!-- 标签页 -->
          <div class="account-tab">
          
            <span class="active" data-item="1" data-val=1>资金明细</span>
            <span  id="egg" data-item="1" data-val=2>鸟蛋明细</span>

          </div>
          <!-- 筛选 -->
          
          <div class="miva-search-box">
          
            <script type="text/javascript">
            // 选择时间的
            layui.use('laydate', function(){
              var laydate = layui.laydate;
              laydate.render({
                elem:'#startTime'
              });
              laydate.render({
                elem:'#endTime'
              });
            })
            </script>


            <span class="active" data-son="1"><i class="miva-icon layui-icon layui-icon-align-right" ></i>全部</span>
            <span data-son="2"><i class="miva-icon layui-icon layui-icon-date" ></i>收入</span>
            <span data-son="3"><i class="miva-icon layui-icon layui-icon-date" ></i>支出</span>
          </div>
          <!-- 排序? -->
          <div class="pai">
       
            <span>类型</span>
            <span>额度</span>           
            <span>描述</span>
            <span>创建时间</span>
          </div>

          <!-- 账户明细 -->
          <div class="if-have">

          {if condition="isset($detailed_data)"}
            {foreach name="detailed_data" item="v"}
              <div class="pai">
                <span>{$v.type}</span>
                <span>{$v.money}</span>
                <span>{$v.explan}</span>
                <span>{:date('Y-m-d H:i:s',$v.time)}</span>
              </div>
            {/foreach}
         </div>
         {else /}
          <div class="if-have">
            <!-- 空的 -->
            <div class="if-black"><img src="" alt=""><span>这位亲,您还没有体验过火鸟陪玩的服务哦!</span></div>
         </div>
         {/if}
        </div>
			</div>

		</div>

		<!-- 引入页脚 -->
{include file="public/footer"}
	</body>

</html>
<script>
    $(function(){
      function timestampToTime(timestamp) {
        var date = new Date(timestamp * 1000);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
        Y = date.getFullYear() + '-';
        M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
        D = date.getDate() + ' ';
        h = date.getHours() + ':';
        m = date.getMinutes() + ':';
        s = date.getSeconds();
        return Y+M+D+h+m+s;
    }

var mivaType = 1;  
var sonType = 1;

    $('.account-tab').on('click', 'span', function() {
      mivaType = $(this).attr('data-val')
      $(this).addClass('active').siblings().removeClass('active')
      sonType = 1;
      console.log(mivaType +'_'+ sonType)


      var html = '';
       $.post("{:url('User/account_details')}",{mivaType:mivaType,sonType:sonType},function(res){
        for (var i = 0; i < res.length; i++) {
            data = res[i]
            html +=`<div class="pai"><span>${data.type}</span><span>${data.money}</span><span>${data.explan}</span><span>${timestampToTime(data.time)}</span></div>`

        };

        $('.if-have').html(html)

      },'json')
    })

    $('.miva-search-box').on('click', 'span', function() {
      sonType = $(this).attr('data-son')
      $(this).addClass('active').siblings().removeClass('active')
      console.log(mivaType +'_'+ sonType)


      var html = '';
      $.post("{:url('User/account_details')}",{mivaType:mivaType,sonType:sonType},function(res){
        for (var i = 0; i < res.length; i++) {
            data = res[i]
            html +=`<div class="pai"><span>${data.type}</span><span>${data.money}</span><span>${data.explan}</span><span>${timestampToTime(data.time)}</span></div>`

        };

        $('.if-have').html(html)

      },'json')

    })


      // $('#egg').click(function(){

        //$(this).addClass('active').siblings().removeClass('active');



        //   var html = '';
        // $.post("{:url('User/account_egg')}",{},function(res){
        //   for (var i = 0; i < res.length; i++) {
        //     data = res[i]
        //     html +=`<div class="pai"><span>${data.type}</span><span>${data.money}</span><span>${data.explan}</span><span>${timestampToTime(data.time)}</span></div>`

        //   };

        //   $('.if-have').html(html)
        // },'json')
      // })
    })

</script>
