{include file="public/header"}

<link rel="stylesheet" type="text/css" href="__INDEX__css/cropper.min.css">
<script type="text/javascript" src="__INDEX__js/cropper.min.js"></script>
	<body class="u-body">
		<!-- 引入头部 -->
		<div class="main u-main">
		<!--导航放在这里-->
{include file="public/nav"}
			<div class="user-info-box u-page-body">
				<div class="u-title">
					<span>更改密码</span>
				</div>
				<!--主内容盒子-->
				<div class="u-data-set-box">
					<!--上傳頭像盒子-->
					
					<!--设置资料盒子-->
					

					<table align="center" class="set-user-box"  data-item="list">
						
						<tr>
							<td>输入旧密码:</td>
							<td><input type="text"  value="" name="used" /></td>
						</tr>

						<tr>
							<td>输入新密码:</td>
							<td><input type="text"  value="" name="new" /></td>
						</tr>

						
						<tr>
							<td>重复新密码:</td>
							<td><input type="text"  value="" name="repeat" /></td>
						</tr>

						<tr>
							<td colspan="2">
								<div class="submit xiaoshou">提交修改</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<script>
			$(function(){
				function jump(){
					window.location.href="{:url('User/index')}";
				}
			

				$('.submit').on('click',function(){
					var used = $('[name="used"]').val()
					var new_pwd = $('[name="new"]').val()
					var repeat = $('[name="repeat"]').val()
					if(new_pwd != repeat){
						layui.use('layer',function(){
						layer.msg('输入新的密码不一致')})
						return false
					}
					
					$.post("{:url('User/change_password')}",{used:used,new_pwd:new_pwd},function(data){
							if(data.code == 1){
								layui.use('layer',function(){
								layer.msg(data.msg)})
							}else if(data.code == 2){
								layui.use('layer',function(){
								layer.msg(data.msg)})
 								setInterval(jump,1500);
							}else if(data.code == 3){
								layui.use('layer',function(){
								layer.msg(data.msg)})
							}else{
								layui.use('layer',function(){
								layer.msg('未知错误')})
							}

					},'json')
				})
			})
		</script>	

{include file="public/footer"}
	</body>

</html>
