<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" type="text/css" href="__INDEX__css/common.css" />
		<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
		<style type="text/css">
			.login-box-miva {
				float: initial;
				margin: auto;
			}
		</style>
	</head>

	<body style="height:100%; min-width: 100%;background: #FBC94C">

		<div class="login-main" style="padding: 0;">
			<div class="login-box-miva" style="height: 400px;">
				<div class="login-title">
					<span class="active">请输入评价</span>
				</div>

				<form data-item="loginFrom" class="login-form" action="#" method="post">
					<textarea style="width: 100%;resize: none;height: 200px;" name="content" rows="" cols="" data-item=content ></textarea>
					<input type="hidden" value="" id="acc_id"  name="acc_id">

					<input type="hidden" value="" id="order_id"  name="order_id">
					<input type="submit" value="提交" />
				</form>

	</body>


</html>