{include file="public/header"}

	<body class="u-body">
		<!-- 引入头部 -->
		<div class="main u-main">
{include file="public/nav"}
			<div class="user-info-box u-page-body">
				<div class="u-title">
        
					<span>开通的服务</span>
          <!--
          <span>是否开通特价服务</span>
          <span>是</span>
          <span>否</span>-->
           <span  style="float:right;" class="xiaoshou" ><a style="color:red" href="{:url('User/service_add')}">添加服务</a></span>
				</div>
       
        
        <div class="miva-my-send">
          
          <!-- 排序? -->
          <div class="pai">
            <span>服务名称</span>        
            <span>申请/开通时间</span>
            <span>该项目接单数</span>
            <span>价格/小时</span>
  
            <span>状态</span>
            <span>操作</span>
          </div>

          <!-- 赠礼内容 -->
          <div class="send-info">
            <!-- 如果没数据 -->
            <div class="">
              <img src="" alt="">
              <div class="if-have">

         
           {foreach name="apply_data" item="v" key="k"}
              <div class="pai">
                <span>{$v.project_name}</span>
                
                <span>{:date('Y-m-d H:i:s',$v.time)}</span>
                <span>{$v.order_num}</span>
                <span> 
                  <select data-item="miva" name="123">
                    <option value="{$v['pric']}">{$v['pric']}</option>
                    {foreach name="$v['pice']" item="val" key="ke"}
                      <option value="{$val}">{$val}</option>
                    {/foreach}
                    
                  </select>

                </span>
                <style>
                .miva-change-service {
                  font-size: 14px !important;
                  width: initial !important;
                }
                .miva-service-btn {
                  width: 130px !important;
                  height: 21px;
                  text-align: center;

                }
                </style>
                {switch name="$v.status"}
                  {case value='0'}<span>待审核</span><span class="xiaoshou">删除</span><a href="#"></a>{/case}
                  {case value='1'}
                  {if condition="$v['type'] == 1"}
                  <span>审核成功</span><span class="xiaoshou lower miva-change-service miva-service-btn" attr_id="{$v.id}"  type="2">下架</span>
                  <a href="#" attr_id="{$v.id}" class="edit miva-service-btn" style="position: relative; top:17px; color:red">修改价格</a>
                  {else /}
                   <span>审核成功</span><span class="xiaoshou lower miva-change-service miva-service-btn" attr_id="{$v.id}"  type="1">上架</span>
                  <a href="#" attr_id="{$v.id}" class="edit miva-service-btn" style="position: relative; top:17px; color:red">修改价格</a>
                  {/if}
                  {/case}
                  {case value='2'}<span>审核失败</span><span class="xiaoshou">删除记录</span>{/case}
                {/switch}
                
              </div>
            {/foreach}
         </div>
            </div>
          </div>
        </div>

			</div>

		</div>
    <script type="text/javascript">
      $(function(){
        $('.lower').click(function(){
          
          var id = $(this).attr('attr_id');
          var type = $(this).attr('type');

          $.post("{:url('User/up_down')}",{id:id,type:type},function(data){

            if(data.code == 1){
              alert(data.msg)
              window.location.reload()
            }else if(data.code == 2){
              alert(data.msg)
            }else{
              alert('未知错误')
            }
          },'json')
        })

      })
    </script>
    <script type="text/javascript">
    $(function(){
        $('.if-have').on('click', '.edit', function(e){
          e.preventDefault()
            var id = $(this).attr('attr_id');
            $(this).parent('.pai').find('[data-item=miva]')

            var pric = $(this).parent('.pai').find('[data-item=miva]').val();
            
            //console.log(pric)

            $.post("{:url('User/pric_edit')}",{id:id,pric:pric},function(data){
                  if(data.code == 1){
                    layui.use('layer',function(){
                    layer.msg(data.msg)
                    })
                  }else if(data.code == 2){
                    layui.use('layer',function(){
                    layer.msg(data.msg)
                    })
                  }else if(data.code == 3){
                    layui.use('layer',function(){
                    layer.msg(data.msg)
                    })
                  }else{
                    layui.use('layer',function(){
                    layer.msg('未知错误')
                    })
                  }

            },'json')


        })
    })
    </script>

		<!-- 引入页脚 -->
{include file="public/footer"}
	</body>

</html>
https://www.daofengdj.com/item/1186931.html?classid=&special=act
https://www.daofengdj.com/item/1186931.html
