{include file="public/header"} {include file="public/sidebar"}

<link rel="stylesheet" type="text/css" href="__INDEX__css/cropper.min.css">
<script type="text/javascript" src="__INDEX__js/cropper.min.js"></script>

<body>
	<!-- 引入头部 -->
	<div class="main miva-join-page">
		<!-- 陪玩入驻服务 -->
	<style media="screen">
				.miva-input {
					padding: 0 10px;
				}

				.service-act {
					border-radius: 3px;
					background: #FBC94C;
					color: #fff;
					padding: 5px 15px;
					margin: 5px !important;
				}
				.miva-join-page .miva-basic-table .up-title {
					width: 10%
				}
				.up-input {
					width: 24%
				}
			</style>
		<!-- 基本资料 -->
	
		
		<div class="miva-join-title">开通服务项目</div>
		<div class="miva-box miva-game-box layui-form">
			<div class="miva-select layui-form-item">
				<select class="project" lay-filter='item-check' name="project" id="project">
					<option>请选择服务项目</option> 
					<option value="1">游戏项目</option>
					<option value="2">娱乐项目</option>
				</select>
			</div>
			<!-- 二级类目选择 -->
			<div data-item="game1" class="miva-selected-box"></div>
			<!-- 三级类目选择 -->

			<div data-item="game2" class="miva-selected-box" data-item="grade"></div>
		</div>
		<div class="miva-join-title">认证资料照</div>
		<div class="miva-box miva-data-box">
			<label for="duanwei"><img style="border:none;" class="miva-up-data-pic" src="" alt="">
				<div class="up-data-tip"><span class="text">点击上传您的游戏段位(等级)截图,<br>并填写游戏相关说明补充<br>(包含游戏ID)</span></div><br>
				<div class="miva-btn mia-up-btn">点击上传</div>
			</label>
			<input style="display:none" type="file" id="duanwei">

			<span class="miva-li">示例:</span>
			<img style="border:none;" src="__IMG__example.png" alt="" class="style-picture"></div>
		<div class="miva-join-title">说明</div>
		<div class="miva-box miva-info-box"><textarea name="explain" class="txt-box" placeholder="可以写自己喜欢的游戏,喜欢的玩法和打法......"></textarea></div>


		<div class="miva-join-title">语音介绍</div>
		<div class="miva-box miva-audio-box">
			<div class="audio-box-f">
				<div class="audio-box">
					<div class="audio-btn" >
						<i class="layui-icon layui-icon-voice"></i>
						<input  type="file"   style="opacity:0;width:80px;"  >
						<span>点击上传</span>
					</div>
				</div>

				<audio  id="audio" src="https://mov-1256760691.cos.ap-shanghai.myqcloud.com/%E9%83%81%E5%8F%AF%E5%94%AF%20-%20%E6%88%91%E6%9B%BE%E7%94%A8%E5%BF%83%E7%88%B1%E7%9D%80%E4%BD%A0%20(Live)%20%5Bmqms2%5D.mp3" controls ></audio>

			</div>
			<span class="tip">上传录音可供老板试听,请自行上传录音 格式为:MP3 大小:2MB
				<span>支持格式:MP3,ogg,mav,m4a</span>
			</span>
		</div>


		<div class="check-box"><input id="check" type="checkbox"> <label for="check">我已阅读并同意<a href="{:url('Conpanion/agreement')}" target="__blnk"><<陪玩申请入驻协议>></a></label></div>
		<button style="color:#FFF;position:initial!important" disabled=true class="miva-btn xiaoshou submit">提交入驻申请</button>
	</div>
	<!-- 引入侧边栏 -->
	<!-- 引入页脚 -->
	{include file="public/footer"}
	
	<script>
var img_data = '';
var type;
var cityVal = '';
var isSubmitOff = false;
var option
var sex
	// 图片预览
	$('#duanwei').on('change', function() {
		var _this = this;
		var files = $(this);
		var img = $('.miva-up-data-pic');
		var fileBuffer;
		var reader = new FileReader();
		var alertHTML = '<img id="newMiva" src=""/>';
		var project_grade;
		reader.readAsDataURL(files.prop('files')[0]);
		reader.onload = function(e) {
			// 获取file里的内容
			fileBuffer = e.target.result;

			// layer.open({
			// 	type: 1,
			// 	title: false,
			// 	closeBtn: 0,
			// 	content: alertHTML,
			// 	scrollbar: false,
			// 	btn: ['确认', '取消'],
			// 	area: ['100%', '100%'],
			// 	success: function(layero, index) {
			// 		var imgbox = layero.find("#newMiva");
			// 		var miva;
			// 		imgbox.attr('src', fileBuffer);
		img_data = fileBuffer
		img.attr('src', fileBuffer);
					// 		if (_this.id == 'user-pic')
					// 			miva = 1 / 1;
					// 		else if (_this.id == 'bg-pic')
					// 			miva = 9 / 16;

					// 		imgbox.cropper({
					// 			aspectRatio: miva,
					// 			dragMode: 'move', // 设置为  ‘move’: 只可以移动模式
					// 			dragCrop: false, // 设置为禁止移除当前的剪裁框，并通过拖动来新建一个剪裁框区域。
					// 			toggleDragModeOnDblclick: false, // 禁止双击切换模式
					// 		});

					// 	},
					// 	yes: function(index, layero) {
					// 		var imgbox = layero.find("#newMiva");
					// 		var cas = imgbox.cropper('getCroppedCanvas');
					// 		var base64url = cas.toDataURL('image/jpeg');
					// 		img_data = base64url
					// 		img.attr('src', base64url);
					// 		layer.closeAll();
					// 	},
					// 	btn2: function(index, layero) {
					// 		layer.closeAll();
					// 	}
					// });
		};
		// 重置input[type=file];
		files.val('');
	});

	//头像
	var files = $('#user-pic');
		// var btn = $('[data-item=upbtn]');

		var reader = new FileReader();
		var fileBuffer;
		var zoomNum = 1;
		var base64url;
		var imgbox;
		var alertHTML = '<div style="width:70%;height:100%"><img id="newMiva" src=""/></div>';
		alertHTML += '<div class="yulan"><div><img alt="小" src="__IMG__default.jpg" alt="" /></div><div><img alt="中" src="__IMG__default.jpg" alt="" /></div><div><img alt="大" src="__IMG__default.jpg" alt="" /></div></div>'
		// 图片预览
		files.on('change', function() {
			reader.readAsDataURL(files.prop('files')[0]);
			reader.onload = function(e) {
				// 获取file里的内容
				fileBuffer = e.target.result;
				layui.use('layer', function() {
					layer.open({
						type: 1,
						title: false,
						content: alertHTML,
						scrollbar: false,
						resize: false,
						zIndex: 7489436491,
						btn: ['确认', '放大', '缩小', '预览'],
						area: ['1000px', '600px'],
						success: function(layero, index){
							imgbox = layero.find("#newMiva");
							imgbox.attr('src', fileBuffer);
							imgbox.cropper({
								aspectRatio: 1 / 1,
								dragMode: 'move', // 设置为  ‘move’: 只可以移动模式
								dragCrop: false, // 设置为禁止移除当前的剪裁框，并通过拖动来新建一个剪裁框区域。
								toggleDragModeOnDblclick: false, // 禁止双击切换模式
								background: false,
								// movable: false,
							});
						},
						yes: function(index, layero) {
							var imgbox = layero.find("#newMiva");
							var cas = imgbox.cropper('getCroppedCanvas');
							base64url = cas.toDataURL('image/jpeg');

							 option = base64url; //上传图片的内容
							$('#user-pic-img').attr('src', option);

/*
							
							$.post("{:url('User/head_img')}",{option:option},function(data){
									if(data.code == 0){
										layui.use('layer',function(){
										layer.msg(data.msg)})
									}else if(data.code == 1){
										layui.use('layer',function(){
										layer.msg(data.msg)})
									}else if(data.code == 2){
										layui.use('layer',function(){
										layer.msg(data.msg)})
									}else if(data.code == 3){
										layui.use('layer',function(){
										layer.msg(data.msg)})
									}else{
										layui.use('layer',function(){
										layer.msg('未知错误')})
									}
							
							},'json')
*/
							layer.closeAll();
						},
						btn2: function(index, layero) {
							var imgbox = layero.find("#newMiva");
							zoomNum -= 0.1;
							imgbox.cropper('zoom', 0.1);
							console.log(zoomNum)
							return false;
						},
						btn3: function(index, layero) {
							var imgbox = layero.find("#newMiva");
							zoomNum += 0.1;
							imgbox.cropper('zoom', -0.1);
							console.log(zoomNum)
							return false;
						},
						btn4: function(index, layero) {
							var cas = imgbox.cropper('getCroppedCanvas');
							base64url = cas.toDataURL('image/jpeg');
							console.log($(layero.find('.yulan')))
							$(layero.find('.yulan')).find(layero.find('img')).attr('src', base64url)
							return false;
						}
					})
				})

			};
			// 重置input[type=file];
			files.val('');
		});



	//手持身份证照 base64   zhengData
	var zheng = $('#zheng');
			var fan = $('#fan');
			var reader = new FileReader();
			var zhengData = '';
			var fanData = '';
			$('#miva-input').on('change', 'input', function() {
				var _this = this;
				reader.readAsDataURL($(this).prop('files')[0]);
				reader.onload = function(e) {
					var fileBuffer = e.target.result;

					if (_this.id == 'input1') {
						zhengData = fileBuffer;
						zheng.attr('src', fileBuffer);
					}
					else if (_this.id == 'input2') {
						fanData = fileBuffer;
						fan.attr('src', fileBuffer);
					}
					else 
						alert('error');
				}
			});

		/************************************************/
		layui.use(['form', 'laydate'], function() {
			var form = layui.form;
			var laydate = layui.laydate;
			

			laydate.render({
					elem: '#data-check' //指定元素
				});; // 使用layui日期选择器
			
			//服务项目Ajax
			form.on('select(item-check)', function(res) {

			type = res.value

				$.post("{:url('Conpanion/project')}", {
					type: res.value
				}, function(res){

					var str = '';
					for (a of res) {
						str += "<span data-item=mivaservice data-floor=floor1 attr_id=" + a['id'] + ">" + a['name'] + "</span>"; // 第一层渲染 
					}
					$('[data-item="game1"]').html(str);

						if (isMivaService) {
							$('.miva-selected-box').on('click', '[data-item=mivaservice]', function() { // 选择服务时的激活样式
								$(this).addClass('service-act').siblings().removeClass('service-act');
								console.log($(this).attr('grade_id'))
								if($(this).attr('grade_id')){
									 project_grade = $(this).attr('grade_id')
								}
							// if ($(this).prop('class').indexOf('service-act') == -1) { // 多选
							// 	$(this).addClass('service-act');
							// } else {
							// 	$(this).removeClass('service-act');
							// }
							isMivaService = false; 
						});
					};

				}, 'json')
			});

			//服务项目等级Ajax
			$('.miva-selected-box').on('click', '[data-floor=floor1]', function(){
				// type  1:游戏项目hn_game_grade  2：娱乐 hn_game_grade
				var game_id = $(this).attr('attr_id')

				if(type == 2){

					if(game_id == 2){
						$('.style-picture').attr('src','__IMG__gedan.jpg')
						return 
					}

					$('.style-picture').attr('src','__IMG__shengjian.jpg')
				}else{
					$('.style-picture').attr('src','__IMG__example.png')
				}

				//更换文本内容
				if(type == 1){
					if(game_id == 4){
						//绝地求生
						$('.text').html('请上传《绝地求生：大逃杀》个人数据截图，等待考核<br>排名要求：男生（1万名以内）；女生（游戏时长50+）<br>考核要求:服务器1万名以内无论男女都需要考核')
					}else if(game_id == 8){
						//刺激战场
						$('.text').html('请上传《刺激战场》个人数据截图，等待考核<br>申请要求：游戏时长10小时以上<br>请上传《全军出击》个人数据截图，等待考核')
					}else if(game_id == 11){
						//英雄联盟
						$('.text').html('请上传您的段位截图（需包含个人ID）<br>男段位要求：电一钻Ⅰ以上，其他区大师王者；<br>女段位要求：黄金以上')
					}else if(game_id == 17){
						//王者荣耀
						$('.text').html('请上传您的段位截图（需包含个人ID）<br>男段位要求：王者/星耀Ⅰ以上，其他区大师王者；<br>女段位要求：钻石以上')
					}else if(game_id == 18){
						//全军出击
						$('.text').html('请上传《全军出击》个人数据截图，等待考核<br>申请要求：游戏时长10小时以上')
					}else if(game_id == 19){
						//荒野行动
						$('.text').html('请上传《荒野行动》个人数据截图，等待考核<br>申请要求：游戏时长10小时以上')
					}else if(game_id == 20){
						//第五人格
						$('.text').html('请上传您的段位截图（需包含个人ID）,并填写第五人格相关的描述')
					}else{
						$('.text').html('点击上传您的游戏段位(等级)截图,<br>并填写游戏相关说明补充<br>(包含游戏ID)')
					}
				}else if(type == 2){
					if(game_id == 1){
						//哄睡觉
						$('.text').html('服务内容包含叫醒、哄睡、聊天、游戏、视频等,<br>请上传真人正面清晰照作为该服务封面图，等待考核<br>请在平台进行声鉴后上传平台电竞音色卡')
					}else if(game_id == 2){
						//唱歌
						$('.text').html('请上传真人正面清晰照作为该服务封面图，等待考核<br>请上传你的歌单')
					}else if(game_id == 3){
						//聊天
						$('.text').html('请上传您的【声鉴卡】一张，<br>如没有【声鉴卡】，<a href="https://csq.huoniaopeiwan.com/index/acc/index.html">请点击获取。获取声鉴卡</a>')
					}else if(game_id == 5){
						//声鉴师
						$('.text').html('普通玩家/陪玩师  不具备申请声鉴师的能力，请与后台工作人员联系')
					}else if(game_id == 6){
						//叫醒
						$('.text').html('请上传您的【声鉴卡】一张，<br>如没有【声鉴卡】，<a href="https://csq.huoniaopeiwan.com/index/acc/index.html">请点击获取。获取声鉴卡</a>')
					}else{
						$('.text').html('点击上传您的游戏段位(等级)截图,<br>并填写游戏相关说明补充<br>(包含游戏ID)')
					}
				}
				
				$.post("{:url('Conpanion/project_grade')}",{type:type,game_id:game_id},function(res){
					var str = '';
					for (a of res) {
						str += "<span data-item=mivaservice grade_id=" + a['id'] + " >" + a['type_name'] + "</span>"; // 第二层渲染
					}
					$('[data-item="game2"]').html(str);
					project_grade = undefined;

				},'json')


			})

			form.on('select(province)', function(result) { // 请选择省份
				$('#city').html('<option value="">请选择城市</option>');

				$.post("{:url('Conpanion/city_ajax')}", {
					province: result.value
				}, function(res) {
					var html = '';
					for (var i = 0; i < res.length; i++) {
						html += '<option value="' + res[i].code + '">' + res[i].name + '</option>';
					};
					$("#city").append(html);
					form.render('select');
				}, 'json') 
			});

			form.on('select(city)', function(res) { // 选择城市
				cityVal = res.value
			})
		})

$('#buwei').on('click', 'span.radio', function() {
	$(this).addClass('active-radio').siblings().removeClass('active-radio')
	$(this).addClass('sexy').siblings().removeClass('sexy')
});
 			var isMivaService = true;
			var num = 1;
			$('#xian').on('click', 'span.miva-btn', function() { // 线上线下

				if ($(this).prop('class').indexOf('miva-btn-act') == -1) {
					$(this).addClass('miva-btn-act');
					$(this).attr('acc_type') == '1' ? num = num + 1 : num = num + 2;
				} else {
					$(this).removeClass('miva-btn-act');
					$(this).attr('acc_type') == '1' ? num = num - 1 : num = num - 2;
				}
			});


$('.check-box').on('change','input', function() {
	isSubmitOff = !isSubmitOff;
	if (isSubmitOff) {
		$('.submit').removeAttr('disabled').addClass('miva-btn-act');
	}else {
		$('.submit').attr('disabled', 'true').removeClass('miva-btn-act');
	}
})



		$('.submit').click(function() { 
				//	alert(num);   这一项有2个值  1：没有选择线下    3：选择了线下 所以需要判断填写的东西是否存在  


			var project_id = $('.service-act').attr('attr_id') //游戏ID

			if(!project_id){
				layui.use('layer', function(){
					layer.msg('请选择服务项目')
				}) 
				return false
			}

			if(typeof project_grade === 'undefined'){
				layui.use('layer', function(){
					layer.msg('请选择服务等级')
				}) 
				return false
			}

			if(!img_data){
				layui.use('layer', function() {
					layer.msg('请填上传资料照')
				}) 
				return false
			}

			var explain = $('[name="explain"]').val();
			if (explain == '') {
				layui.use('layer', function() {
					layer.msg('请填写说明')
				}) 
				return false
			}
			

			

			
			$.post("{:url('User/service_add')}", {
				//前往用户表的数据
				project:type,
				img_url:img_data,  //认证图片
				project_id:project_id,
				project_grade:project_grade,
				explain:explain,
			
			}, function(data){
				if(data.code == 1){
					layui.use('layer', function() {
					layer.msg(data.msg)
					})
				}else if(data.code == 2){
					layui.use('layer', function() {
					layer.msg(data.msg)
					})
				}else if(data.code == 3){
					layui.use('layer', function() {
					layer.msg(data.msg)
					})
				}else if(data.code == 4){
					layui.use('layer', function() {
					layer.msg(data.msg)
					})
				}else{
					layui.use('layer', function() {
					layer.msg('位置错误')
					})
				}
			}, 'json')
			return false
		})
	</script>

</body>

</html>
